/*
    © 2015 NetSuite Inc.
    User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
    provided, however, if you are an authorized user with a NetSuite account or log-in, you
    may use this code subject to the terms that govern your access and use.
*/



.infinite-scroll-btn-holder {
    margin: $sc-margin-lv4;
    text-align: center;
}

.facets-facet-browse-pagination {
    float: none;
    text-align: center;
}

.infinite-scroll-btn-load-page {
    text-align: center;
    @extend .button-small;
    @extend .button-primary;
}

.infinite-scroll-top {
    display: none;
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 999;
    padding: $sc-margin-lv2;
    right: $sc-margin-lv4;
    bottom: $sc-margin-lv8;
    background: no-repeat center 43%;
    background: rgba($sc-neutral-shade, 0.8);
    @include border-radius($sc-border-radius);
}

.infinite-scroll-top-icon {
    @extend .icon-chevron-up;
    color: $sc-neutral-shade-0;
    font-size: $sc-font-size-l * 2;
}
