.item-relations-related {
	position: relative;
}

.item-relations-related .bx-controls-direction {
    text-align: right;
	margin-bottom: $sc-margin-lv3;
}
.item-relations-related h3 {
    @extend .line-thru;
}

.item-relations-related .global-views-star-rating {
    margin: 0 auto;
    display: inline-block;
}

.item-relations-related-row{}


.item-relations-related-carousel-next{
	@extend .button-tertiary;
	@extend .button-small;
	margin-left:$sc-margin-lv2;
	cursor:pointer;
	cursor:hand;
	position:absolute;
	right:0px;
	top:40%;
	font-size: 3rem;
	color: #dadbda;
	border: none;
}

.item-relations-related-carousel-prev{
	//@extend .button-tertiary;
	@extend .button-small;
	cursor:pointer;
	cursor:hand;
	position:absolute;
	left:0px;
	top:40%;
	font-size: 3rem;
	color: #dadbda;
}
.item-relations-related-carousel-next.disabled,
.item-relations-related-carousel-prev.disabled {
	display: none;
}
.control-text{
	display:none;
}
