.item-relations-related-item{
	// height:250px;
	// width:228px;
}

.item-relations-related-item-thumbnail{
	width:100%;
	margin-bottom:$sc-margin-lv2;
	overflow:hidden;
	display: block;
	min-height: $img-large !important;
}

.item-relations-related-item-title {
	@extend .item-cell-title;
	// text-transform: uppercase;
    // font-weight: $sc-font-weight-bold;
    // font-size: $sc-font-size-m;
}

.item-relations-related-item-price{
	@extend .middle-price;
}

.item-relations-related-item-rate{
	margin-bottom:$sc-margin-lv2;
	display: inline-block;
	text-align:center;
	.global-views-star-rating{
		// width:92px;
		margin:auto;
	}
}
