// Main navigation variables
$sc-main-navigation-height: 55px; /* editable({"type": "string", "label": "Menu height"}) */
$sc-theme-color-overlay: black; /* editable({"type": "color", "label": "Shadow and background", "description": "Applies to search menu dropshadow, minicart menu dropshadow, navigation submenu dropshadow and navigation submenu background. Always with 75% opacity."}) */

$sc-main-navigation-link-color: $sc-color-link; /* editable({"type": "color", "label": "Link color"}) */
$sc-main-navigation-link-font-size: $sc-font-size-s; /* editable({"type": "string", "label": "Link font size"}) */
$sc-main-navigation-link-text-transform: uppercase; /* editable({
	"type": "string",
	"label": "Link text transform",
	"options": [
		{"value": "none", "text": "none"},
		{"value": "uppercase", "text": "uppercase"},
		{"value": "lowercase", "text": "lowercase"},
		{"value": "capitalize", "text": "capitalize"}
	]
}) */
$sc-main-navigation-link-letter-spacing: 0; /* editable({"type": "string", "label": "Link letter spacing"}) */
$sc-main-navigation-link-margin: $sc-margin-lv5; /* editable({"type": "string", "label": "Menu left margin"}) */
$sc-main-navigation-link-margin-right: $sc-margin-lv4; /* editable({"type": "string", "label": "Link right margin"}) */
$sc-main-navigation-link-margin-left: $sc-margin-lv4; /* editable({"type": "string", "label": "Link left margin"}) */

$sc-main-navigation-link-hover-color: $sc-color-link-hover; /* editable({"type": "color", "label": "Navigation link hover color"}) */
$sc-main-navigation-link-active-color: $sc-color-link-active; /* editable({"type": "color", "label": "Navigation link active color"}) */

$sc-main-navigation-submenu-v-padding: 7px; /* editable({"type": "string", "label": "Submenu vertical padding"}) */
$sc-main-navigation-submenu-h-padding: 20px; /* editable({"type": "string", "label": "Submenu horizontal padding"}) */

$sc-main-navigation-submenu-heading-width: 180px; /* editable({"type": "string", "label": "Submenu vertical padding"}) */
$sc-main-navigation-submenu-heading-color: $sc-color-link; /* editable({"type": "color", "label": "Submenu heading color"}) */
$sc-main-navigation-submenu-heading-hover-color: $sc-main-navigation-submenu-heading-color; /* editable({"type": "color", "label": "Submenu hover color"}) */
$sc-main-navigation-submenu-heading-bgr-hover-color: $sc-color-primary; /* editable({"type": "color", "label": "Submenu background hover color"}) */
$sc-main-navigation-submenu-heading-text-transform: capitalize; /* editable({
	"type": "string",
	"label": "Submenu text transform",
	"options": [
		{"value": "none", "text": "none"},
		{"value": "uppercase", "text": "uppercase"},
		{"value": "lowercase", "text": "lowercase"},
		{"value": "capitalize", "text": "capitalize"}
	]
}) */

/* Level 3 nav - not used */
$sc-main-navigation-submenu-link-text-transform: none;
$sc-main-navigation-submenu-link-color: $sc-color-secondary;
$sc-main-navigation-submenu-link-hover-color: $sc-color-link-hover;
$sc-main-navigation-submenu-link-active-color: $sc-neutral-shade-0;
$sc-main-navigation-submenu-link-align: center;
$sc-main-navigation-submenu-link-vertical-padding: 0;
$sc-main-navigation-submenu-link-horizontal-padding: $sc-padding-lv1;

// Mobile navigation variables
$sc-sidebar-size: 266px; /* editable({"type": "string", "label": "Mobile navigation sidebar width"}) */
$sc-mobile-navigation-background-color: $sc-color-primary; /* editable({"type": "color", "label": "Mobile navigation background color"}) */

$sc-mobile-navigation-link-background-color: white; /* editable({"type": "color", "label": "Mobile navigation link background color"}) */
$sc-mobile-navigation-link-color: $sc-color-theme-700; /* editable({"type": "color", "label": "Mobile navigation link color"}) */
$sc-mobile-navigation-link-hover-color: $sc-color-link-hover; /* editable({"type": "color", "label": "Mobile navigation link hover color"}) */
