// Font variable for secondary font applied to buttons, nav, form fields, prices, product info, header, breadcrumb
$sc-theme-secondary-font: Playfair Display; /* editable({"type": "string", "label": "Secondary font", "description": "Additional font family used for buttons, nav, form fields, prices, product info, header, breadcrumb. Do not add multiple fonts separated by commas."}) */

// Font variables for body element
$sc-body-font-family: $sc-font-family; /* editable({"type": "string", "label": "Font family"}) */
$sc-body-font-size: $sc-font-size-xs; /* editable({"type": "string", "label": "Mobile size"}) */
$sc-body-font-size-desktop: $sc-font-size-m; /* editable({"type": "string", "label": "Desktop size"}) */
$sc-body-font-style: normal;
$sc-body-line-height: 1.467rem; /* editable({"type": "string", "label": "Line height"}) */
$sc-body-letter-spacing: 0;
$sc-body-direction: ltr;

// Font variables for paragraph elements. Font styles are inherit from body.
$sc-paragraph-margin-top: 0;
$sc-paragraph-margin-bottom: 0;

// Font variables for h1 elements
$sc-h1-font-family: $sc-theme-secondary-font; /* editable({"type": "string", "label": "Font family"}) */
$sc-h1-font-size: 2.133rem; /* editable({"type": "string", "label": "Mobile size"}) */
$sc-h1-desktop-font-size: 2.667rem; /* editable({"type": "string", "label": "Desktop size"}) */
$sc-h1-font-style: italic;
$sc-h1-text-decoration: none;
$sc-h1-line-height: 1.2; /* editable({"type": "string", "label": "Line height"}) */
$sc-h1-letter-spacing: 0;
$sc-h1-margin-top: 0;
$sc-h1-margin-bottom: 0;
$sc-h1-text-transform: none; /* editable({
	"type": "string",
	"label": "Text transform",
	"options": [
		{"value": "none", "text": "none"},
		{"value": "uppercase", "text": "uppercase"},
		{"value": "lowercase", "text": "lowercase"},
		{"value": "capitalize", "text": "capitalize"}
	]
}) */

// Font variables for h2 elements
$sc-h2-font-family: $sc-font-family; /* editable({"type": "string", "label": "Font family"}) */
$sc-h2-font-size: $sc-font-size-xl; /* editable({"type": "string", "label": "Mobile size"}) */
$sc-h2-desktop-font-size: 1.6rem; /* editable({"type": "string", "label": "Desktop size"}) */
$sc-h2-font-style: normal;
$sc-h2-text-decoration: none;
$sc-h2-line-height: 1.2; /* editable({"type": "string", "label": "Line height"}) */
$sc-h2-letter-spacing: 0;
$sc-h2-margin-top: 0;
$sc-h2-margin-bottom: 0;
$sc-h2-text-transform: none; /* editable({
	"type": "string",
	"label": "Text transform",
	"options": [
		{"value": "none", "text": "none"},
		{"value": "uppercase", "text": "uppercase"},
		{"value": "lowercase", "text": "lowercase"},
		{"value": "capitalize", "text": "capitalize"}
	]
}) */

// Font variables for h3 elements
$sc-h3-font-family: $sc-font-family; /* editable({"type": "string", "label": "Font family"}) */
$sc-h3-font-size: $sc-font-size-l; /* editable({"type": "string", "label": "Mobile size"}) */
$sc-h3-desktop-font-size: $sc-font-size-xl; /* editable({"type": "string", "label": "Desktop size"}) */
$sc-h3-font-style: normal;
$sc-h3-text-decoration: none;
$sc-h3-line-height: 1.2;
$sc-h3-letter-spacing: 0; /* editable({"type": "string", "label": "Line height"}) */
$sc-h3-margin-top: 0;
$sc-h3-margin-bottom: 0;
$sc-h3-text-transform: none; /* editable({
	"type": "string",
	"label": "Text transform",
	"options": [
		{"value": "none", "text": "none"},
		{"value": "uppercase", "text": "uppercase"},
		{"value": "lowercase", "text": "lowercase"},
		{"value": "capitalize", "text": "capitalize"}
	]
}) */

// Font variables for h4 elements
$sc-h4-font-family: $sc-theme-secondary-font; /* editable({"type": "string", "label": "Font family"}) */
$sc-h4-font-size: $sc-font-size-s; /* editable({"type": "string", "label": "Mobile size"}) */
$sc-h4-desktop-font-size: 0.8rem; /* editable({"type": "string", "label": "Desktop size"}) */
$sc-h4-font-style: normal;
$sc-h4-text-decoration: none;
$sc-h4-line-height: 1.4; /* editable({"type": "string", "label": "Line height"}) */
$sc-h4-letter-spacing: 0.1rem;
$sc-h4-margin-top: 0;
$sc-h4-margin-bottom: 0;
$sc-h4-text-transform: uppercase; /* editable({
	"type": "string",
	"label": "Text transform",
	"options": [
		{"value": "none", "text": "none"},
		{"value": "uppercase", "text": "uppercase"},
		{"value": "lowercase", "text": "lowercase"},
		{"value": "capitalize", "text": "capitalize"}
	]
}) */

// Font variables for h5 elements
$sc-h5-font-family: $sc-font-family; /* editable({"type": "string", "label": "Font family"}) */
$sc-h5-font-size: $sc-font-size-s; /* editable({"type": "string", "label": "Mobile size"}) */
$sc-h5-desktop-font-size: $sc-font-size-m; /* editable({"type": "string", "label": "Desktop size"}) */
$sc-h5-font-style: normal;
$sc-h5-text-decoration: none;
$sc-h5-line-height: 1.4; /* editable({"type": "string", "label": "Line height"}) */
$sc-h5-letter-spacing: 0;
$sc-h5-margin-top: 0;
$sc-h5-margin-bottom: 0;
$sc-h5-text-transform: uppercase; /* editable({
	"type": "string",
	"label": "Text transform",
	"options": [
		{"value": "none", "text": "none"},
		{"value": "uppercase", "text": "uppercase"},
		{"value": "lowercase", "text": "lowercase"},
		{"value": "capitalize", "text": "capitalize"}
	]
}) */

// Font variables for h6 elements
$sc-h6-font-family: $sc-theme-secondary-font; /* editable({"type": "string", "label": "Font family"}) */
$sc-h6-font-size: 1.6rem; /* editable({"type": "string", "label": "Mobile size"}) */
$sc-h6-desktop-font-size: 1.6rem; /* editable({"type": "string", "label": "Desktop size"}) */
$sc-h6-font-style: normal;
$sc-h6-text-decoration: none;
$sc-h6-line-height: 1.4; /* editable({"type": "string", "label": "Line height"}) */
$sc-h6-letter-spacing: 0;
$sc-h6-margin-top: 0;
$sc-h6-margin-bottom: 0;
$sc-h6-text-transform: uppercase; /* editable({
	"type": "string",
	"label": "Text transform",
	"options": [
		{"value": "none", "text": "none"},
		{"value": "uppercase", "text": "uppercase"},
		{"value": "lowercase", "text": "lowercase"},
		{"value": "capitalize", "text": "capitalize"}
	]
}) */

// Font variables for blockquote elements
$sc-blockquote-font-family: $sc-font-family; /* editable({"type": "string", "label": "Font family"}) */
$sc-blockquote-font-size: $sc-font-size-m; /* editable({"type": "string", "label": "Font size"}) */
$sc-blockquote-font-style: normal; /* editable({
	"type": "string",
	"label": "Font style",
	"options": [
		{"value": "normal", "text": "normal"},
		{"value": "italic", "text": "italic"}
	]
}) */
$sc-blockquote-text-decoration: none;
$sc-blockquote-line-height: 1.6; /* editable({"type": "string", "label": "Line height"}) */
$sc-blockquote-letter-spacing: 0;
$sc-blockquote-margin-top: 0;
$sc-blockquote-margin-bottom: 0;
$sc-blockquote-font-weight: normal; /* editable({
	"type": "string",
	"label": "Font weight",
	"options": [
		{"value": "normal", "text": "normal"},
		{"value": "lighter", "text": "lighter"},
		{"value": "bold", "text": "bold"},
		{"value": "bolder", "text": "bolder"}
	]
}) */

$sc-blockquote-text-transform: none; /* editable({
	"type": "string",
	"label": "Text transform",
	"options": [
		{"value": "none", "text": "none"},
		{"value": "uppercase", "text": "uppercase"},
		{"value": "lowercase", "text": "lowercase"},
		{"value": "capitalize", "text": "capitalize"}
	]
}) */
