// Edited for Posh Theme

.header-mini-cart {
	display: none;
	background: $sc-neutral-shade-0;
	width: 320px;
	padding: $sc-padding-lv4; // was $sc-base-padding * 4;
	position: absolute;
	z-index: 1002;
	right: 0;
	box-shadow: 0 6px 12px transparentize($sc-theme-color-overlay, 1-0.175);
	//border: 1px solid $sc-color-theme-border;

	&:before {
		position: absolute;
		top: -7px;
		right: 14px;
		display: inline-block;
		border-right: 7px solid transparent;
		border-bottom: 7px solid $sc-neutral-shade-0;
		border-left: 7px solid transparent;
		content: '';
	}

	&:after {
		position: absolute;
		top: -6px;
		right: 15px;
		display: inline-block;
		border-right: 6px solid transparent;
		border-bottom: 6px solid $sc-neutral-shade-0;
		border-left: 6px solid transparent;
		content: '';
	}

}

.header-mini-cart {
	.items-views-selected-option-picker{
		display: none;
	}
	.items-views-selected-option-label,
	.items-views-selected-option-color p {
		margin-bottom: 0;
	}
}

.open .header-mini-cart {
	display: block;
}

.header-mini-cart-menu-cart-legend{
	@extend .header-menu-cart-legend;
}

.header-mini-cart-container {
	max-height: 411px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-bottom: $sc-margin-lv4; // was $sc-medium-margin;
}

.header-mini-cart-menu-cart-icon{
	@extend .header-menu-cart-icon;
}

.header-mini-cart-subtotal {
	margin-bottom: $sc-margin-lv4; // was $sc-medium-margin;
	overflow: hidden;
    padding: $sc-padding-lv2 0; // was $sc-base-padding * 2 0;
	border-top: 1px solid $sc-color-secondary;
	border-bottom: 1px solid $sc-color-secondary;
}

.header-mini-cart-subtotal-amount {
	@extend .col-xs-8;
    @extend .small-price;
	text-align: right;
	padding: 0px;
}

.header-mini-cart-subtotal-items {
	@extend .col-xs-4;
	padding: 0px;
    font-size: $sc-font-size-s; // was $sc-small-font-size;
	font-weight: $sc-font-weight-semibold;
	text-transform: uppercase;
}

// .header-mini-cart-button-view-cart {
.header-mini-cart a.header-mini-cart-button-view-cart {
	@extend .button-small;
	@extend .button-secondary;
	width:100%;
	text-align:center;
}

// .header-mini-cart-buttons {
a.header-mini-cart-buttons {
	display: block;
	clear: both;
}

// .header-mini-cart-button-checkout {
.header-mini-cart .header-mini-cart-button-checkout {
	@extend .button-primary;
	@extend .button-small;
	@extend .button-generic;
	width:100%;
	text-align:center;
    text-transform: uppercase;
}

.header-mini-cart-buttons-left {
	@extend .col-xs-6;
	padding-left: 0px;
	padding-right: $sc-padding-base;
}

.header-mini-cart-buttons-right {
	@extend .col-xs-6;
	padding-right: 0px;
	padding-left: $sc-padding-base; // was $sc-base-padding;
}

.header-mini-cart-menu-cart-link{
	@extend .header-menu-cart-link;
}

.header-mini-cart-menu-cart-link-enabled{
	@extend .header-menu-cart-link-enabled;
}

.header-mini-cart-empty{
	a {
		color: $sc-color-link !important;

		&:hover, &:focus {
			color: $sc-color-link-hover !important;
		}

		&:active {
			color: $sc-color-link-active !important;
		}
	}
}

.header-mini-cart-summary-cart-ellipsis{}
