/* Edited for Posh Theme */

.header-menu-myaccount-back{
	@extend .header-sidebar-menu-back;
}

.header-menu-myaccount-pop-icon {
	@extend .header-sidebar-menu-pop-icon;
}

.header-menu-myaccount-menu-push-icon {
	@extend .header-sidebar-menu-push-icon;
}

.header-sidebar-menu-wrapper .header-menu-myaccount-signout-link {
	display: none;
}

.header-menu-myaccount a.active {
	background-color: $sc-color-theme-background;
}

%default-link {
	color: $sc-color-link;
	&:hover, &:focus {
		color: $sc-color-link-hover;
		text-decoration: none;
	}

	&:active {
		color: $sc-color-link-active;
	}
}

//applies only to the myaccount menu on desktop header
.header-menu-profile {

	.header-menu-myaccount-anchor {
		display: none;
	}

	.header-menu-myaccount-overview-anchor {
		@extend %default-link;
		@media (min-width: $screen-md-min) {
			font-size: $sc-font-size-m;
			float: left;
			padding: $sc-padding-lv3 0;
		}
	}

	.header-menu-myaccount-back {
		display: none;
	}

	.header-menu-myaccount-menu-push-icon{
		display:none;
	}

	.header-menu-myaccount-overview {
		margin-bottom: $sc-margin-lv7;
		border-bottom: 1px solid $sc-color-theme-border-light;
		@extend .clearfix;
	}

	.header-menu-myaccount-item-level2 {
		float: left;
		width: 20%;
		padding-right: $sc-padding-lv8;
	}

	.header-menu-myaccount-anchor-level2 {
		@extend %default-link;
		font-weight: $sc-font-weight-semibold;
		padding-left: 5px;
	}


	.header-menu-myaccount-anchor-level3 {
		@extend .header-menu-level3-anchor;
		text-align: left;
	}

	.header-menu-myaccount-signout-link {
		@extend %default-link;
		float: right;
		display:block;
		padding: $sc-padding-lv3 0;
		&:hover .header-menu-myaccount-signout-icon {
			color: $sc-color-link-hover;
		}
	}

	.header-menu-myaccount-signout-icon{
		@extend %default-link;
		@extend .fa;
		@extend %fa-sign-out;
		font-size: $sc-font-size-m;
	}
}

.header-menu-myaccount-level4 {

	@media (min-width: $screen-md-min) {
		display: none;
	}
}
