/* Edited for Posh Theme */

// color picker
$picker-large: 40px;
$picker-medium: 25px;
$picker-small: 20px;
$picker-xsmall: 10px;

//New color picker
$picker-color-large: 40px;
$picker-color-medium: 25px;
$picker-color-small: 15px;
$picker-color-xsmall: $picker-color-small;

// images
$img-larger: 185px;
$img-large: 150px;
$img-medium: 100px;
$img-small: 60px;

//target size
$sc-target-size:35px;
$sc-target-size-mobile:40px;

$sc-flyout-arrow-height: 7px;
$sc-flyout-arrow-shadow-height: $sc-flyout-arrow-height - 1;

$sc-border-radius: 0;

$sc-animation-base-duration: 300ms;

// max width
$sc-site-max-width: 1600px; /* editable({"type": "string", "label": "Max width", "description": "Value at which site stops being 100% width and shows the background."}) */

// USE THIS MIXIN TO SET CUSTOM MAX-WIDTH CONTAINER
// USAGE: @include site-max-width-container;
@mixin site-max-width-container {
    padding-left: 0;
    padding-right: 0;

    @media (min-width: $screen-md-min) {
        width: 100%;
        max-width: $sc-site-max-width;
        margin: 0 auto;
    }
}

// Stops having to repeat the same css for shopping-layout-header, checkout-layout-header, myaccount-layout-header
@mixin common-header {
    @include box-shadow(0 6px 12px transparentize($sc-theme-color-overlay, 1-0.05));
    margin-bottom: $sc-margin-lv4;

    @media (min-width: $screen-sm-min){
        margin-bottom: $sc-header-margin-bottom-desktop;
    }

    @media (min-width: $screen-md-min){
        // only needed to sit the header shadow over the carousel
        // messes with the mobile nav if added
        position: relative;
        z-index: 11;
    }
}
