/* Edited for Posh Theme */

.recently-viewed-items {
	position:relative;
	h3 {
		@extend .line-thru;
	}
	.bx-controls-direction{
		text-align:right;
		margin-bottom:$sc-margin-lv8;
	}
}

ul.recently-viewed-row-cell li{
	display:inline-block;
}

.recently-viewed-cell-item-cell {
	@extend .item-relations-cell;
}
