// Edited for Posh Theme

.footer-wrapper {
    background: $sc-footer-background-color;
}

.footer-content-wrapper {
    @extend .container;
    @include site-max-width-container;
    padding: 40px;
    color: $sc-footer-text-color;

    display: flex;
    flex-direction: column;

    @media (min-width: $screen-sm-min) {
        padding: 40px 100px;
    }

    @media (min-width: $screen-md-min) {
        padding: 45px 80px 70px $sc-content-left-padding-desktop;
        flex-direction: row;
    }
}

.footer-content {
	width: 100%;
    flex: auto;
    order: 3;

    @media (min-width: $screen-md-min) {
        width: 60%;
        order: 2;
    }
}

.footer-content-nav {
    display: flex;
    flex-wrap: wrap;

    /*@media (min-width: $screen-sm-min) {
        padding: 0 100px;
    }
    @media (min-width: $screen-md-min) {
        padding: 0;
    }*/
}

.footer-content-nav-list {
	width: 50%;
    flex: auto;
    list-style: none;

    @media (min-width: $screen-md-min) {
        width: 25%;
    }

    &:nth-child(1),
    &:nth-child(3) {
        padding-right: 15px;
        @media (min-width: $screen-md-min) {
            padding-right: 0;
        }
    }

    &:nth-child(2),
    &:nth-child(4) {
        padding-left: 15px;
        @media (min-width: $screen-md-min) {
            padding-left: 0;
        }
    }

    &:nth-child(3),
    &:nth-child(4) {
        margin-top: 40px;
        @media (min-width: $screen-md-min) {
            margin-top: 0;
        }
    }
}

.footer-content-nav-list > li {
    font-size: $sc-font-size-xs;

    @media (min-width: $screen-md-min) {
        font-size: $sc-font-size-m;
    }
}

.footer-column-heading {
    font-family: $sc-font-family;
    color: $sc-footer-headings-color;
    font-size: $sc-footer-headings-size;
    text-transform: uppercase;
    padding-bottom: $sc-padding-lv2;
    letter-spacing: 0;
}

.footer-column-link {
    color: $sc-footer-link-color;
    font-weight: $sc-font-weight-normal;
    &:hover,
    &:focus {
        color: $sc-footer-link-color-hover;
    }
}

.footer-content-newsletter {
    width: 100%;
    flex: auto;
    order: 2;
    margin-bottom: 40px;

    @media (min-width: $screen-md-min) {
        width: 20%;
        order: 3;
        margin-bottom: 0;
    }

    & p {
        padding: $sc-padding-lv2;
    }
    & span {
        color: $sc-color-primary;
        font-weight: 700;
    }
    & h5 {
        color: $sc-footer-fields-text-color;
    }

    & .newsletter-subscription-form-input {
        text-align: center;
        background-color: $sc-footer-fields-background-color;
        border: 1px solid $sc-footer-fields-border-color;
        color: $sc-footer-fields-text-color;
        margin-bottom: 0;

        @include placeholder {
            color: $sc-footer-fields-text-color;
        }

        @media (min-width: $screen-md-min) {
            text-align: left;
        }
    }

    & .newsletter-subscription-form-button {
        font-family: $sc-theme-secondary-font;
        background: $sc-button-primary-background-color;
        color: $sc-button-primary-text-color;
        border: 1px solid $sc-button-primary-border-color;
        font-size: $sc-font-size-s;
        padding: 10px 20px;
        text-transform: uppercase;
        margin: 10px auto 0 auto;
        display: block;

        @media (min-width: $screen-md-min) {
            margin: 10px 0 0 0;
            float: right;
        }
    }

    & .newsletter-subscription-form-button:hover {
        background: $sc-button-primary-hover-background-color;
        color: $sc-button-primary-hover-text-color;
        border: 1px solid $sc-button-primary-hover-border-color;
    }

    @media (max-width: $screen-sm-max) {
        padding: 0;
    }

    @media (min-width: $screen-desktop) {
        text-align: right;
    }
}

.footer-content-copyright-wrapper {
    background-color: $sc-footer-copyright-background-color;
    color: $sc-footer-copyright-text-color;
    border-top: 1px solid $sc-footer-copyright-border-color;

    @media (min-width: $screen-sm-min) {
        background-color: $sc-footer-desktop-copyright-background-color;
    }
}

.footer-content-copyright {
    @extend .container;
    @include site-max-width-container;

    font-size: $sc-font-size-s;
    font-weight: $sc-font-weight-light;
    line-height: 40px;
    padding: 0 $sc-content-padding 0 $sc-content-padding;

    @media (min-width: $screen-md-min) {
        padding: 0 $sc-content-left-padding-desktop 0 $sc-content-right-padding-desktop;
    }
}

// Social Media Links
.footer-logo-social {
    width: 100%;
    flex: auto;
    order: 1;

    @media (min-width: $screen-md-min) {
        width: 20%;
    }
}

.footer-content-logo {
    text-align: center;
    @media (min-width: $screen-md-min) {
        text-align: left;
    }
}

.footer-logo-image {
    width: $sc-desktop-header-logo-width;
}

.footer-content-social-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 15px 0 30px 0;

    & > li {
        flex: 0;
        display: inline-block;
        text-align: center;
        margin-right: 25px;
        @media (min-width: $screen-md-min) {
            text-align: left;
            flex: 1;
            margin-right: 0;
        }
    }

    & > li:last-child {
        margin-right: 0;
    }

    a {
        color: $sc-footer-icon-color;
        font-size: $sc-font-size-xl;
        @media (min-width: $screen-md-min) {
            font-size: $sc-font-size-xxl;
        }
    }

    a:hover {
        color: $sc-footer-icon-hover-color;
    }

    @media (min-width: $screen-md-min) {
        width: 90%;
        margin: 20px 0 0 0;
        justify-content: flex-start;
    }

}
