/* Edited for Posh Theme */

.order-wizard-termsandconditions-module-top-summary {
	display:none;
	margin-bottom: $sc-margin-lv4;
	border-left: 1px solid $sc-color-theme-border;
	border-right: 1px solid $sc-color-theme-border;

	@media(min-width: $screen-sm-min){
		display: block;
	}
}
.order-wizard-termsandconditions-module-top,
.order-wizard-termsandconditions-module-bottom{
	@media(min-width: $screen-sm-min){
		display: none;
	}
}

.order-wizard-termsandconditions-module-bottom{
	margin-top: $sc-margin-lv4;
}

.order-wizard-termsandconditions-module-default{
	display: none;
	@media(min-width: $screen-sm-min){
		display: block;
		float:right;
		margin-bottom: $sc-margin-lv4;
	}
}

.order-wizard-termsandconditions-module-label{}
.order-wizard-termsandconditions-module-text{}
