// Edited for Posh

.product-detail-to-quote-add-to-quote {}

.product-detail-to-quote-add-to-quote-button {
	@extend .button-tertiary;
	@extend .button-large;
	margin: $sc-margin-lv3 auto 0;
	font-weight: $sc-font-weight-light;
	width: 80%;
	text-align:center;
	cursor:pointer;
	cursor:hand;
	display: block;
	font-size: 14px;
	padding: 15px;
	@media(min-width: $screen-sm-min){
		display: inline-block;
		margin-left: 0;
		margin-top: $sc-margin-lv3;
		width: 100%;
		padding: 17px 25px;
		font-size: 1.067rem;
	}
}

.product-detail-to-quote-loading {
	@extend .product-detail-to-quote-add-to-quote-button;
	@extend .product-detail-to-quote-add-to-quote-button:disabled;
	cursor: auto;
}

.quick-view-confirmation-modal .product-detail-to-quote-add-to-quote {
	padding-left: 0;
	padding-right: $sc-padding-lv3;
}
