
.quick-order-divider {
	@extend .accordion-divider;
}
.quick-order-expander-head {
	@extend .accordion-head;
}
.quick-order-expander-head-toggle {
	@extend .accordion-head-toggle;
	border-color: $sc-color-theme-border-light;
}
.quick-order-expander-toggle-icon {
	@extend .accordion-toggle-icon;
}
.quick-order-expander-body {
	@extend .accordion-body;
	&.in {
		overflow: visible;
	}
}
.quick-order-expander-container {
	@extend .accordion-container;
	margin: 0;

	.quick-add-box {
		margin: 0;
	}
}
