.custom-fields-checkout-field {
  margin-top: $sc-margin-lv2;
}

// Heading

.custom-fields-checkout-field-heading {
}

// Labels

.custom-fields-checkout-field-label {
}
.custom-fields-checkout-field-label-required {
  @extend .input-required;
}

// Inputs

.custom-fields-checkout-field-input {
}

// Checkbox

.custom-fields-checkout-field-label-checkbox {
  @extend .custom-fields-checkout-field-label !optional;
  @extend .custom-fields-checkout-field-input !optional;
  @extend .checkbox;
  font-weight: $sc-font-weight-normal;
}
.custom-fields-checkout-field-input-checkbox {
}

// Text Area, Date & Text

.custom-fields-checkout-field-control {
}
.custom-fields-checkout-field-input-textarea {
  @extend .custom-fields-checkout-field-input !optional;
  max-width: 100%;
  &:disabled {
    border-color: $sc-color-theme-border-light;
    background-color: $sc-color-theme-background;
  }
}
.custom-fields-checkout-field-input-text {
  @extend .custom-fields-checkout-field-input !optional;
  @extend .input-large;
}
.custom-fields-checkout-field-input-date {
  @extend .custom-fields-checkout-field-input !optional;
  @extend .input-large;
}
