.checkout-layout {
	@extend %sc-layout;
}

.checkout-layout-header {
	@include common-header;
}

.checkout-layout-content, .checkout-layout-notifications{
	@extend .container;
	@include site-max-width-container;
    padding-left: $sc-content-padding;
    padding-right: $sc-content-padding;
}

.checkout-layout-footer {
	@extend %sc-footer !optional;
}

.checkout-layout-breadcrumb{}

.checkout-layout-no-javascript-msg {
	@extend .message-warning;
	width: 100%;
}

.address-edit-fields-group-input-checkbox-billschedule{
	display: flex;
}

.address-edit-fields-group-input-checkbox-billschedule-image{
	padding: 10px;
	// border: 3px solid green;
	margin-top: 5px;
}

.address-edit-fields-group-input-checkbox-billschedule-text{
	padding-top: 100px;
	padding-left: 5px;
	padding-right: 5px;
	// border: 3px solid green;
	margin-top: 5px;
}
