$sc-color-icon: $sc-neutral-shade-0;

$sc-color-star-filled: $sc-color-secondary;
$sc-color-star-empty: lightgrey;
$sc-color-star-error: $sc-color-error;

// Base icons
//
// Icons are a visual representation of an object, action, or idea that communicate meaning in a graphical way.
//
// Markup:
// <i class="icon-home"></i>
// <i class="icon-star"></i>
// <i class="icon-like"></i>
//
// Styleguide 2.4.1

.icon-container {
	@include border-radius(50%);
	background-color: $sc-color-theme-500;
	display: inline-block;
	text-align: center;
	height: 20px;
	width: 20px;
	line-height: 18px;
}

.icon {
	@extend .fa;
	color: $sc-color-icon;
	font-size: 13px;
	vertical-align: middle;
	display: inline;
	font-style: normal;
}

.icon-base {
	@extend .fa;
	font-size:20px;
	display:inline;
}

.icon-display-list {
	@extend .fa;
	@extend %fa-navicon;
}

.icon-display-table {
	@extend .fa;
	@extend %fa-th-large;
}

.icon-display-grid {
	@extend .fa;
	@extend %fa-th;
}

.icon-close {
	@extend .icon;
	@extend %fa-close;
}

.icon-remove {
	@extend .icon;
	@extend %fa-close;
}

.icon-container-info {
	@extend .icon-container;
	background-color: $sc-color-info;
}

.icon-info {
	@extend .icon;
	@extend %fa-info-circle;
}
.icon-question {
	@extend .icon;
	@extend %fa-question;
}
.icon-question-circle {
	@extend .icon;
	@extend %fa-question-circle;
}
.icon-container-success {
	@extend .icon-container;
	background-color: $sc-color-success;
}

.icon-success {
	@extend .icon;
	@extend %fa-check;
	color: $sc-color-success-background;
}

.icon-container-warning {
	@extend .icon-container;
	background-color: $sc-color-warning;
}

.icon-warning {
	@extend .icon;
	@extend %fa-exclamation;
}

.icon-container-error {
	@extend .icon-container;
	background-color: $sc-color-error;
}

.icon-error {
	@extend .icon;
	@extend %fa-exclamation;
}

.icon-chevron {
	@extend .icon-base;
	color: $sc-color-theme-700;
}

.icon-chevron-up {
	@extend .icon-chevron;
	@extend %fa-chevron-up;
}

.icon-chevron-down {
	@extend .icon-chevron;
	@extend %fa-chevron-down;
}

.icon-chevron-right {
	@extend .icon-chevron;
	@extend %fa-chevron-right;
}

.icon-chevron-left {
	@extend .icon-chevron;
	@extend %fa-chevron-left;
}

.icon-angle-up {
	@extend .icon-chevron;
	@extend %fa-angle-up;
}

.icon-angle-down {
	@extend .icon-chevron;
	@extend %fa-angle-down;
}

.icon-angle-right {
	@extend .icon-chevron;
	@extend %fa-angle-right;
	line-height: 17px;
}

.icon-angle-left {
	@extend .icon-chevron;
	@extend %fa-angle-left;
}

.icon-caret {
	@extend .icon;
	color: $sc-color-theme;
}

.icon-caret-left {
	@extend .icon-caret;
	@extend %fa-caret-left;
}

.icon-caret-right {
	@extend .icon-caret;
	@extend %fa-caret-right;
}

.icon-caret-up {
	@extend .icon-caret;
	@extend %fa-caret-up;
}

.icon-caret-down {
	@extend .icon-caret;
	@extend %fa-caret-down;
}

.icon-star {
	@extend .icon;
	@extend %fa-star;
	color: $sc-color-star-empty;
}

.icon-star-filled {
	@extend .icon;
	@extend %fa-star;
	color: $sc-color-star-filled;
}

.icon-star-error {
	@extend .icon;
	@extend %fa-star;
	color: $sc-color-star-error;
}

.credit-card-content-icon {
	@extend .fa;
	@extend %fa-cc-visa;
}

.icon-ok-sign {
	@extend .fa;
	@extend %fa-check-circle;
	color: $sc-color-theme-500;
}

.icon-locked {
	@extend .fa;
	@extend %fa-lock;
}

.icon-flag {
	@extend .fa;
	@extend %fa-flag;
}

.icon-globe {
	@extend .fa;
	@extend %fa-globe;
}

.icon-message-atention {
	@extend .fa;
	@extend %fa-exclamation-circle;
}

.icon-map-marker {
	@extend .fa;
	@extend %fa-map-marker;
}

.icon-home {
	@extend .fa;
	@extend %fa-home;
}

.icon-truck {
	@extend .fa;
	@extend %fa-truck;
}

.icon-like {
	@extend .fa;
	@extend %fa-thumbs-up;
}

.icon-unlike {
	@extend .fa;
	@extend %fa-thumbs-down;
}

.free-badge {
	color: white;
	background-color: $sc-color-success;
	padding: $sc-padding-lv1 $sc-padding-lv2;
}



/* new for theme */

/* icon-<icon name> from https://fontawesome.com/v4.7.0/icons/ 'Payment Icons' NOT aliases */

/* icon-<icon name> from https://fontawesome.com/v4.7.0/icons/ 'Brand Icons' NOT aliases */
.icon-500px {
	@extend .fa;
	@extend %fa-500px !optional;
}
.icon-adn {
	@extend .fa;
	@extend %fa-adn !optional;
}
.icon-amazon {
	@extend .fa;
	@extend %fa-amazon !optional;
}
.icon-android {
	@extend .fa;
	@extend %fa-android !optional;
}
.icon-angellist {
	@extend .fa;
	@extend %fa-angellist !optional;
}
.icon-apple {
	@extend .fa;
	@extend %fa-apple !optional;
}
.icon-bandcamp {
	@extend .fa;
	@extend %fa-bandcamp !optional;
}
.icon-behance {
	@extend .fa;
	@extend %fa-behance !optional;
}
.icon-behance-square {
	@extend .fa;
	@extend %fa-behance-square !optional;
}
.icon-bitbucket {
	@extend .fa;
	@extend %fa-bitbucket !optional;
}
.icon-bitbucket-square {
	@extend .fa;
	@extend %fa-bitbucket-square !optional;
}
.icon-black-tie {
	@extend .fa;
	@extend %fa-black-tie !optional;
}
.icon-bluetooth {
	@extend .fa;
	@extend %fa-bluetooth !optional;
}
.icon-bluetooth-b {
	@extend .fa;
	@extend %fa-bluetooth-b !optional;
}
.icon-btc {
	@extend .fa;
	@extend %fa-btc !optional;
}
.icon-buysellads {
	@extend .fa;
	@extend %fa-buysellads !optional;
}
.icon-cc-amex {
	@extend .fa;
	@extend %fa-cc-amex !optional;
}
.icon-cc-diners-club {
	@extend .fa;
	@extend %fa-cc-diners-club !optional;
}
.icon-cc-discover {
	@extend .fa;
	@extend %fa-cc-discover !optional;
}
.icon-cc-jcb {
	@extend .fa;
	@extend %fa-cc-jcb !optional;
}
.icon-cc-mastercard {
	@extend .fa;
	@extend %fa-cc-mastercard !optional;
}
.icon-cc-paypal {
	@extend .fa;
	@extend %fa-cc-paypal !optional;
}
.icon-cc-stripe {
	@extend .fa;
	@extend %fa-cc-stripe !optional;
}
.icon-cc-visa {
	@extend .fa;
	@extend %fa-cc-visa !optional;
}
.icon-chrome {
	@extend .fa;
	@extend %fa-chrome !optional;
}
.icon-codepen {
	@extend .fa;
	@extend %fa-codepen !optional;
}
.icon-codiepie {
	@extend .fa;
	@extend %fa-codiepie !optional;
}
.icon-connectdevelop {
	@extend .fa;
	@extend %fa-connectdevelop !optional;
}
.icon-contao {
	@extend .fa;
	@extend %fa-contao !optional;
}
.icon-css3 {
	@extend .fa;
	@extend %fa-css3 !optional;
}
.icon-dashcube {
	@extend .fa;
	@extend %fa-dashcube !optional;
}
.icon-delicious {
	@extend .fa;
	@extend %fa-delicious !optional;
}
.icon-deviantart {
	@extend .fa;
	@extend %fa-deviantart !optional;
}
.icon-digg {
	@extend .fa;
	@extend %fa-digg !optional;
}
.icon-dribbble {
	@extend .fa;
	@extend %fa-dribbble !optional;
}
.icon-dropbox {
	@extend .fa;
	@extend %fa-dropbox !optional;
}
.icon-drupal {
	@extend .fa;
	@extend %fa-drupal !optional;
}
.icon-edge {
	@extend .fa;
	@extend %fa-edge !optional;
}
.icon-eercast {
	@extend .fa;
	@extend %fa-eercast !optional;
}
.icon-empire {
	@extend .fa;
	@extend %fa-empire !optional;
}
.icon-envira {
	@extend .fa;
	@extend %fa-envira !optional;
}
.icon-etsy {
	@extend .fa;
	@extend %fa-etsy !optional;
}
.icon-expeditedssl {
	@extend .fa;
	@extend %fa-expeditedssl !optional;
}
.icon-facebook {
	@extend .fa;
	@extend %fa-facebook;
}
.icon-facebook-official {
	@extend .fa;
	@extend %fa-facebook-official !optional;
}
.icon-facebook-square {
	@extend .fa;
	@extend %fa-facebook-square !optional;
}
.icon-firefox {
	@extend .fa;
	@extend %fa-firefox !optional;
}
.icon-first-order {
	@extend .fa;
	@extend %fa-first-order !optional;
}
.icon-flickr {
	@extend .fa;
	@extend %fa-flickr !optional;
}
.icon-font-awesome {
	@extend .fa;
	@extend %fa-font-awesome !optional;
}
.icon-fonticons {
	@extend .fa;
	@extend %fa-fonticons !optional;
}
.icon-fort-awesome {
	@extend .fa;
	@extend %fa-fort-awesome !optional;
}
.icon-forumbee {
	@extend .fa;
	@extend %fa-forumbee !optional;
}
.icon-foursquare {
	@extend .fa;
	@extend %fa-foursquare !optional;
}
.icon-free-code-camp {
	@extend .fa;
	@extend %fa-free-code-camp !optional;
}
.icon-get-pocket {
	@extend .fa;
	@extend %fa-get-pocket !optional;
}
.icon-gg {
	@extend .fa;
	@extend %fa-gg !optional;
}
.icon-gg-circle {
	@extend .fa;
	@extend %fa-gg-circle !optional;
}
.icon-git {
	@extend .fa;
	@extend %fa-git !optional;
}
.icon-git-square {
	@extend .fa;
	@extend %fa-git-square !optional;
}
.icon-github {
	@extend .fa;
	@extend %fa-github !optional;
}
.icon-github-alt {
	@extend .fa;
	@extend %fa-github-alt !optional;
}
.icon-github-square {
	@extend .fa;
	@extend %fa-github-square !optional;
}
.icon-gitlab {
	@extend .fa;
	@extend %fa-gitlab !optional;
}
.icon-glide {
	@extend .fa;
	@extend %fa-glide !optional;
}
.icon-glide-g {
	@extend .fa;
	@extend %fa-glide-g !optional;
}
.icon-google {
	@extend .fa;
	@extend %fa-google !optional;
}
.icon-google-plus {
	@extend .fa;
	@extend %fa-google-plus !optional;
}
.icon-google-plus-official {
	@extend .fa;
	@extend %fa-google-plus-official !optional;
}
.icon-google-plus-square {
	@extend .fa;
	@extend %fa-google-plus-square !optional;
}
.icon-google-wallet {
	@extend .fa;
	@extend %fa-google-wallet !optional;
}
.icon-gratipay {
	@extend .fa;
	@extend %fa-gratipay !optional;
}
.icon-grav {
	@extend .fa;
	@extend %fa-grav !optional;
}
.icon-hacker-news {
	@extend .fa;
	@extend %fa-hacker-news !optional;
}
.icon-houzz {
	@extend .fa;
	@extend %fa-houzz !optional;
}
.icon-html5 {
	@extend .fa;
	@extend %fa-html5 !optional;
}
.icon-imdb {
	@extend .fa;
	@extend %fa-imdb !optional;
}
.icon-instagram {
	@extend .fa;
	@extend %fa-instagram !optional;
}
.icon-internet-explorer {
	@extend .fa;
	@extend %fa-internet-explorer !optional;
}
.icon-ioxhost {
	@extend .fa;
	@extend %fa-ioxhost !optional;
}
.icon-joomla {
	@extend .fa;
	@extend %fa-joomla !optional;
}
.icon-jsfiddle {
	@extend .fa;
	@extend %fa-jsfiddle !optional;
}
.icon-lastfm {
	@extend .fa;
	@extend %fa-lastfm !optional;
}
.icon-lastfm-square {
	@extend .fa;
	@extend %fa-lastfm-square !optional;
}
.icon-leanpub {
	@extend .fa;
	@extend %fa-leanpub !optional;
}
.icon-linkedin {
	@extend .fa;
	@extend %fa-linkedin !optional;
}
.icon-linkedin-square {
	@extend .fa;
	@extend %fa-linkedin-square !optional;
}
.icon-linode {
	@extend .fa;
	@extend %fa-linode !optional;
}
.icon-linux {
	@extend .fa;
	@extend %fa-linux !optional;
}
.icon-maxcdn {
	@extend .fa;
	@extend %fa-maxcdn !optional;
}
.icon-meanpath {
	@extend .fa;
	@extend %fa-meanpath !optional;
}
.icon-medium {
	@extend .fa;
	@extend %fa-medium !optional;
}
.icon-meetup {
	@extend .fa;
	@extend %fa-meetup !optional;
}
.icon-mixcloud {
	@extend .fa;
	@extend %fa-mixcloud !optional;
}
.icon-modx {
	@extend .fa;
	@extend %fa-modx !optional;
}
.icon-odnoklassniki {
	@extend .fa;
	@extend %fa-odnoklassniki !optional;
}
.icon-odnoklassniki-square {
	@extend .fa;
	@extend %fa-odnoklassniki-square !optional;
}
.icon-opencart {
	@extend .fa;
	@extend %fa-opencart !optional;
}
.icon-openid {
	@extend .fa;
	@extend %fa-openid !optional;
}
.icon-opera {
	@extend .fa;
	@extend %fa-opera !optional;
}
.icon-optin-monster {
	@extend .fa;
	@extend %fa-optin-monster !optional;
}
.icon-pagelines {
	@extend .fa;
	@extend %fa-pagelines !optional;
}
.icon-paypal {
	@extend .fa;
	@extend %fa-paypal !optional;
}
.icon-pied-piper {
	@extend .fa;
	@extend %fa-pied-piper !optional;
}
.icon-pied-piper-alt {
	@extend .fa;
	@extend %fa-pied-piper-alt !optional;
}
.icon-pied-piper-pp {
	@extend .fa;
	@extend %fa-pied-piper-pp !optional;
}
.icon-pinterest {
	@extend .fa;
	@extend %fa-pinterest !optional;
}
.icon-pinterest-p,
.icon-pinterest-alt {
	@extend .fa;
	@extend %fa-pinterest-p !optional;
}
.icon-pinterest-square {
	@extend .fa;
	@extend %fa-pinterest-square !optional;
}
.icon-product-hunt {
	@extend .fa;
	@extend %fa-product-hunt !optional;
}
.icon-qq {
	@extend .fa;
	@extend %fa-qq !optional;
}
.icon-quora {
	@extend .fa;
	@extend %fa-quora !optional;
}
.icon-ravelry {
	@extend .fa;
	@extend %fa-ravelry !optional;
}
.icon-rebel {
	@extend .fa;
	@extend %fa-rebel !optional;
}
.icon-reddit {
	@extend .fa;
	@extend %fa-reddit !optional;
}
.icon-reddit-alien {
	@extend .fa;
	@extend %fa-reddit-alien !optional;
}
.icon-reddit-square {
	@extend .fa;
	@extend %fa-reddit-square !optional;
}
.icon-renren {
	@extend .fa;
	@extend %fa-renren !optional;
}
.icon-safari {
	@extend .fa;
	@extend %fa-safari !optional;
}
.icon-scribd {
	@extend .fa;
	@extend %fa-scribd !optional;
}
.icon-sellsy {
	@extend .fa;
	@extend %fa-sellsy !optional;
}
.icon-share-alt {
	@extend .fa;
	@extend %fa-share-alt !optional;
}
.icon-share-alt-square {
	@extend .fa;
	@extend %fa-share-alt-square !optional;
}
.icon-shirtsinbulk {
	@extend .fa;
	@extend %fa-shirtsinbulk !optional;
}
.icon-simplybuilt {
	@extend .fa;
	@extend %fa-simplybuilt !optional;
}
.icon-skyatlas {
	@extend .fa;
	@extend %fa-skyatlas !optional;
}
.icon-skype {
	@extend .fa;
	@extend %fa-skype !optional;
}
.icon-slack {
	@extend .fa;
	@extend %fa-slack !optional;
}
.icon-slideshare {
	@extend .fa;
	@extend %fa-slideshare !optional;
}
.icon-snapchat {
	@extend .fa;
	@extend %fa-snapchat !optional;
}
.icon-snapchat-ghost {
	@extend .fa;
	@extend %fa-snapchat-ghost !optional;
}
.icon-snapchat-square {
	@extend .fa;
	@extend %fa-snapchat-square !optional;
}
.icon-soundcloud {
	@extend .fa;
	@extend %fa-soundcloud !optional;
}
.icon-spotify {
	@extend .fa;
	@extend %fa-spotify !optional;
}
.icon-stack-exchange {
	@extend .fa;
	@extend %fa-stack-exchange !optional;
}
.icon-stack-overflow {
	@extend .fa;
	@extend %fa-stack-overflow !optional;
}
.icon-steam {
	@extend .fa;
	@extend %fa-steam !optional;
}
.icon-steam-square {
	@extend .fa;
	@extend %fa-steam-square !optional;
}
.icon-stumbleupon {
	@extend .fa;
	@extend %fa-stumbleupon !optional;
}
.icon-stumbleupon-circle {
	@extend .fa;
	@extend %fa-stumbleupon-circle !optional;
}
.icon-superpowers {
	@extend .fa;
	@extend %fa-superpowers !optional;
}
.icon-telegram {
	@extend .fa;
	@extend %fa-telegram !optional;
}
.icon-tencent-weibo {
	@extend .fa;
	@extend %fa-tencent-weibo !optional;
}
.icon-themeisle {
	@extend .fa;
	@extend %fa-themeisle !optional;
}
.icon-trello {
	@extend .fa;
	@extend %fa-trello !optional;
}
.icon-tripadvisor {
	@extend .fa;
	@extend %fa-tripadvisor !optional;
}
.icon-tumblr {
	@extend .fa;
	@extend %fa-tumblr !optional;
}
.icon-tumblr-square {
	@extend .fa;
	@extend %fa-tumblr-square !optional;
}
.icon-twitch {
	@extend .fa;
	@extend %fa-twitch !optional;
}
.icon-twitter {
	@extend .fa;
	@extend %fa-twitter;
}
.icon-twitter-square {
	@extend .fa;
	@extend %fa-twitter-square;
}
.icon-usb {
	@extend .fa;
	@extend %fa-usb !optional;
}
.icon-viacoin {
	@extend .fa;
	@extend %fa-viacoin !optional;
}
.icon-viadeo {
	@extend .fa;
	@extend %fa-viadeo !optional;
}
.icon-viadeo-square {
	@extend .fa;
	@extend %fa-viadeo-square !optional;
}
.icon-vimeo {
	@extend .fa;
	@extend %fa-vimeo !optional;
}
.icon-vimeo-square {
	@extend .fa;
	@extend %fa-vimeo-square !optional;
}
.icon-vine {
	@extend .fa;
	@extend %fa-vine !optional;
}
.icon-vk {
	@extend .fa;
	@extend %fa-vk !optional;
}
.icon-weibo {
	@extend .fa;
	@extend %fa-weibo !optional;
}
.icon-weixin {
	@extend .fa;
	@extend %fa-weixin !optional;
}
.icon-whatsapp {
	@extend .fa;
	@extend %fa-whatsapp !optional;
}
.icon-wikipedia-w {
	@extend .fa;
	@extend %fa-wikipedia-w !optional;
}
.icon-windows {
	@extend .fa;
	@extend %fa-windows !optional;
}
.icon-wordpress {
	@extend .fa;
	@extend %fa-wordpress !optional;
}
.icon-wpbeginner {
	@extend .fa;
	@extend %fa-wpbeginner !optional;
}
.icon-wpexplorer {
	@extend .fa;
	@extend %fa-wpexplorer !optional;
}
.icon-wpforms {
	@extend .fa;
	@extend %fa-wpforms !optional;
}
.icon-xing {
	@extend .fa;
	@extend %fa-xing !optional;
}
.icon-xing-square {
	@extend .fa;
	@extend %fa-xing-square !optional;
}
.icon-y-combinator {
	@extend .fa;
	@extend %fa-y-combinator !optional;
}
.icon-yahoo {
	@extend .fa;
	@extend %fa-yahoo !optional;
}
.icon-yelp {
	@extend .fa;
	@extend %fa-yelp !optional;
}
.icon-yoast {
	@extend .fa;
	@extend %fa-yoast !optional;
}
.icon-youtube {
	@extend .fa;
	@extend %fa-youtube !optional;
}
.icon-youtube-play {
	@extend .fa;
	@extend %fa-youtube-play !optional;
}
.icon-youtube-square {
	@extend .fa;
	@extend %fa-youtube-square !optional;
}
