/* Edited for Posh Theme */

.cart-item-summary-label {
	display: block; //reset
}

.cart-item-summary-item-list-actionable-container-qty {
	display: flex;
	align-items: center;
}

.cart-item-summary-item-list-actionable-label-qty {
	flex: 1;
	display: none;

	@extend .sc-label;
	margin-bottom: 0;

	@media (min-width: 400px) { //$screen-xs-min special for very small screens like iphone 5
		display: inline-block;
		vertical-align: middle;
	}
}
.cart-item-summary-item-list-actionable-input-qty {
	flex: 2;
	@extend .sc-value;

	@media (min-width: $screen-md-min) {
		display: inline-block;
		vertical-align: middle;
		//margin-left: $sc-margin-lv2;
	}
}

.cart-item-summary-item-list-actionable-amount{
	//@extend .transaction-line-views-cell-actionable-amount;
	display: flex;
}

.cart-item-summary-item-list-actionable-amount-label{
	//@extend .transaction-line-views-cell-actionable-amount-label;
	flex: 1;
	align-self: flex-end;
}

.cart-item-summary-prices {
	flex: 2;
	align-self: flex-end;
	line-height: normal;
}

.cart-item-summary-item-view-old-price{
	@extend .transaction-line-views-price-old;
}

.cart-item-summary-amount-value{
	font-weight: $sc-font-weight-semibold;
    font-size: $sc-font-size-xxl;
}

.cart-item-summary-quantity-title-help{
	clear: both;
	margin-top: $sc-margin-lv1;
	display: block;
	font-weight:$sc-font-weight-light;
}

.cart-item-summary-quantity-add {
	@extend .quantity-input-button-add;
}

.cart-item-summary-quantity-remove {
	@extend .quantity-input-button-remove;
}

.cart-item-summary-quantity-value {
 	@extend .quantity-input;
	height: auto !important;
	padding: 7px !important;
	border-color: $sc-color-secondary !important;
}

.cart-item-summary-promocodes .cart-promocode-list-item-container{
	@extend .transaction-line-views-cell-actionable-amount-label;
	padding-left: 0;
}

.cart-item-summary-promocodes .cart-promocode-list-item-code-value {
	@extend .sc-value;
}
