.home {
    @extend .container;
    @include site-max-width-container;
}

.home-banner-top-message {
  @extend .message-info;
  @extend .message-large;
}

.home-slider-container {
    margin-bottom: $sc-margin-lv4;

    @media (min-width: $screen-sm-min) {
        margin-bottom: $sc-margin-lv1;
    }
}

.home-slider-container {
    .home-gallery-prev-icon,
    .home-gallery-next-icon {
        display: none;
        color: $sc-home-carousel-icons-color-desktop;
        top: 48%;

        @media (min-width: $screen-sm-min) {
            display: $sc-home-carousel-icons-display;
        }
    }

    @media (min-width: $screen-sm-min) {
        .home-gallery-prev-icon {
            top: 45.5%; // vertically center to align with right icon
        }
    }
}

.home-image-slider {
    position: relative;

    @media (max-width: $screen-sm-min) {
        padding: 0;
    }
}

// start bx-slider specifics
$sc-image-slider-height: 660px;
$sc-image-slider-max-width: 1140px;
$sc-image-slider-max-width-mobile: 767px;

.home-image-slider .bx-wrapper {
    @media (min-width: $screen-md-min) {
        margin-bottom: 0;
    }
}

.home-image-slider .bx-pager-item {
    vertical-align: middle;
}

.home-image-slider .bx-controls {
    margin-top: 0;

    @media (min-width: $screen-sm-min) {
        height: auto;
        width: auto;
    }

    & .bx-pager {
        margin-top: 0;

        @media (max-width: $screen-sm-min) {
            display: flex;
            justify-content: center;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $sc-home-cta-background-color;
            padding: 15px;
        }

        @media (min-width: $screen-sm-min) {
            margin-top: 20px;
        }
    }
}

.home-image-slider .bx-wrapper,
.home-image-slider .bx-viewport {
    height: auto !important;
}

.home-image-slider .bx-viewport ul li {
    overflow: hidden;
}

.home-slide-image-container {
    z-index: 1;
    background-size: cover;
    background-position: center center;
    height: 100%;

    @media (max-width: $screen-sm-min) {
        height: $sc-image-slider-height;
    }
}

.home-slide-image-container img {
    display: none;
}

.home-slide-caption-container {
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &.carousel-left-box,
    &.carousel-center-box,
    &.carousel-right-box {
        .home-slide-caption {
            background: rgba($sc-home-cta-background-color-value, 0.8)
        }
    }


    @media (min-width: $screen-sm-min) {
        top: 0;
        bottom: 0;

        // These classes can be assigned in the Carousel configuration
        // Larger viewports only
        &.carousel-left,
        &.carousel-left-box {
            text-align: left;
            justify-content: flex-start;
        }
        &.carousel-center,
        &.carousel-center-box {
            text-align: center;
        }
        &.carousel-right,
        &.carousel-right-box {
            text-align: right;
            justify-content: flex-end;
        }
    }
}

.home-slide-caption {
    z-index: 0;
    width: 100%;
    padding: $sc-padding-lv6 $sc-padding-lv2 $sc-padding-lv3 $sc-padding-lv2;

    @media (min-width: $screen-sm-min) {
        width: auto;
        padding: $sc-padding-lv8 70px $sc-padding-lv8 70px;
    }

    .home-slide-caption-button-container {
        padding-top: 15px;

        @media (min-width: $screen-sm-min) {
            padding:0;
            margin-left: 0;
            margin-right: 0;
            position: relative;
            bottom: 0;
        }
    }
}

.home-info-title {
  font-size: $sc-home-cta-title-size-mobile;
  color: $sc-home-cta-title-color;
  margin-bottom: 10px;
  @media (min-width: $screen-desktop) {
      font-size: $sc-home-cta-title-size;
  }
}

.home-slide-caption-button {
    @extend .button-primary;
    @extend .button-large;
    padding: 15px 20px;
    width: auto;
}

.home-gallery-prev-icon,
.home-gallery-next-icon {
    position: absolute;
    top: 40%;
    width: $sc-target-size-mobile;
    height: $sc-target-size-mobile;
    font-size: 50px;
    color: $sc-color-theme-500;
    z-index: 10;
}

.home-gallery-prev-icon {
    left: 30px;
    @extend .icon-angle-left;
}

.home-gallery-next-icon {
    right: 30px;
    text-align: right;
    @extend .icon-angle-right;
}

.home-image-slider .bx-pager {
    a {
        color: $sc-home-carousel-icons-color-mobile !important;
        background-color: $sc-home-carousel-icons-color-mobile !important;
        width: 10px !important;
        height: 10px !important;
        border-radius: 100% !important;
        font-size: 0;
        text-indent: -9999px;

        @media (min-width: $screen-sm-min) {
            color: $sc-home-carousel-icons-color-desktop !important;
            background-color: $sc-home-carousel-icons-color-desktop !important;
        }
    }
    a.active {
        background-color: $sc-home-carousel-icons-color-mobile;

        @media (min-width: $screen-sm-min) {
            background-color: $sc-home-carousel-icons-color-desktop !important;
        }
    }
}

.home-image-slider .bx-pager {
    @media (min-width: $screen-sm-min) {
        width: 100%;
        position: absolute !important;
        bottom: $sc-margin-lv4;
        text-align: center;
        margin-bottom: $sc-margin-lv4;
    }
    @media (min-width: $screen-md-min) {
        width: calc(100% - 30px);
        max-width: none;
    }
    @media (min-width: $screen-lg-min) {
        width: 100%;
        max-width: $sc-site-max-width;
    }
}

// end bx-slider specifics


.home-slide-main-container {
    width: 100%;
    overflow: hidden;
    height: auto;
    text-align: center;

    @media (min-width: $screen-sm-min) {
        height: $sc-image-slider-height;
    }
}

.home-info-text {
  font-weight: $sc-font-weight-light;
  color: $sc-home-cta-text-color;

  @media (min-width: $screen-sm-min) {
      font-size: $sc-font-size-xxxl;
      margin-bottom: 20px;
  }
}


/* Promo Area */
.home-promo {
    display: flex; /* or inline-flex */
    margin: $sc-margin-lv5 0;
    flex-wrap: wrap;
    background-color: $sc-home-promo-background-color;

    & h2 {
        @extend h1;
        padding-bottom: $sc-padding-lv1;
    }
    & h3 {
        font-weight: $sc-font-weight-light;
        @media (min-width: $screen-sm-min) {
            font-size: $sc-font-size-xxxl;
        }
    }
    & p {
        margin: 0 $sc-margin-lv5 $sc-margin-lv5 $sc-margin-lv5;
        @media (min-width: $screen-sm-min) {
            margin: 0 0 $sc-margin-lv5 0;
            font-size: $sc-font-size-m;
        }
    }
}

.home-promo-image, .home-promo-text {
	width: 100%;
    flex: auto;
    align-self: center;

    @media (min-width: $screen-sm-min) {
        width: 50%;
    }
}

.home-promo-text {
    position: relative;
}

.home-promo-image img {
    vertical-align: top;
}

.home-promo-text-content {
    text-align: center;
    padding: 25px;

    & a {
        @extend .button-primary;
        @extend .button-medium;
        width: auto;
    }

    @media (min-width: $screen-sm-min) {
        padding: 0 25px;
    }

    @media (min-width: $screen-md-min) {
        padding: 0 100px;
    }
}

/* INFOBLOCKS */
.home-infoblock-layout {
    display: -ms-flexbox; /* Flex prefix for IE */
    display: flex; /* or inline-flex */
    margin: $sc-margin-lv2 $sc-margin-lv1;
    flex-wrap: wrap;
}

.home-infoblock {
	  position: relative;
    padding: $sc-padding-lv1 $sc-padding-lv1 0 $sc-padding-lv1;
    width: 50%;
    flex: auto;
    @media (min-width: $screen-sm-min) {
        width: 25%;
    }
}

.home-infoblock-span2 {
    width: 100%;
    @media (min-width: $screen-sm-min) {
        width: 50%;
    }
}

.home-infoblock-image {
  	opacity: $sc-home-infoblock-cell-content-overlay-opacity;
  	width: 100%;
  	height: auto;
    transition: opacity 0.75s;
    -webkit-transition: opacity 0.75s;
}

.home-infoblock-image:hover {
    opacity: 1.0;
}

.home-infoblock-link:hover .home-infoblock-image {
  	opacity: 1.0;
}

.home-infoblock-text { /*caption*/
	  position: absolute;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    width: 100%;
    text-align: center;
    font-family: $sc-theme-secondary-font;
    font-size: $sc-font-size-xxxl;
    text-transform: uppercase;
    color: $sc-color-copy;
    font-weight: $sc-font-weight-extrabold;
}
