/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */

%#{$fa-css-prefix}-search:before { content: $fa-var-search; }
%#{$fa-css-prefix}-envelope-o:before { content: $fa-var-envelope-o; }
%#{$fa-css-prefix}-star:before { content: $fa-var-star; }
%#{$fa-css-prefix}-star-o:before { content: $fa-var-star-o; }
%#{$fa-css-prefix}-user:before { content: $fa-var-user; }
%#{$fa-css-prefix}-th-large:before { content: $fa-var-th-large; }
%#{$fa-css-prefix}-th:before { content: $fa-var-th; }
%#{$fa-css-prefix}-check:before { content: $fa-var-check; }
%#{$fa-css-prefix}-remove:before,
%#{$fa-css-prefix}-close:before,
%#{$fa-css-prefix}-times:before { content: $fa-var-times; }
%#{$fa-css-prefix}-home:before { content: $fa-var-home; }
%#{$fa-css-prefix}-lock:before { content: $fa-var-lock; }
%#{$fa-css-prefix}-flag:before { content: $fa-var-flag; }
%#{$fa-css-prefix}-map-marker:before { content: $fa-var-map-marker; }
%#{$fa-css-prefix}-chevron-left:before { content: $fa-var-chevron-left; }
%#{$fa-css-prefix}-chevron-right:before { content: $fa-var-chevron-right; }
%#{$fa-css-prefix}-times-circle:before { content: $fa-var-times-circle; }
%#{$fa-css-prefix}-check-circle:before { content: $fa-var-check-circle; }
%#{$fa-css-prefix}-question-circle:before { content: $fa-var-question-circle; }
%#{$fa-css-prefix}-info-circle:before { content: $fa-var-info-circle; }
%#{$fa-css-prefix}-exclamation-circle:before { content: $fa-var-exclamation-circle; }
%#{$fa-css-prefix}-warning:before,
%#{$fa-css-prefix}-exclamation-triangle:before { content: $fa-var-exclamation-triangle; }
%#{$fa-css-prefix}-calendar:before { content: $fa-var-calendar; }
%#{$fa-css-prefix}-chevron-up:before { content: $fa-var-chevron-up; }
%#{$fa-css-prefix}-chevron-down:before { content: $fa-var-chevron-down; }
%#{$fa-css-prefix}-shopping-cart:before { content: $fa-var-shopping-cart; }
%#{$fa-css-prefix}-twitter-square:before { content: $fa-var-twitter-square; }
%#{$fa-css-prefix}-facebook-square:before { content: $fa-var-facebook-square; }
%#{$fa-css-prefix}-sign-out:before { content: $fa-var-sign-out; }
%#{$fa-css-prefix}-linkedin-square:before { content: $fa-var-linkedin-square; }
%#{$fa-css-prefix}-github-square:before { content: $fa-var-github-square; }
%#{$fa-css-prefix}-twitter:before { content: $fa-var-twitter; }
%#{$fa-css-prefix}-facebook-f:before,
%#{$fa-css-prefix}-facebook:before { content: $fa-var-facebook; }
%#{$fa-css-prefix}-github:before { content: $fa-var-github; }
%#{$fa-css-prefix}-globe:before { content: $fa-var-globe; }
%#{$fa-css-prefix}-navicon:before,
%#{$fa-css-prefix}-reorder:before,
%#{$fa-css-prefix}-bars:before { content: $fa-var-bars; }
%#{$fa-css-prefix}-truck:before { content: $fa-var-truck; }
%#{$fa-css-prefix}-pinterest:before { content: $fa-var-pinterest; }
%#{$fa-css-prefix}-pinterest-square:before { content: $fa-var-pinterest-square; }
%#{$fa-css-prefix}-google-plus-square:before { content: $fa-var-google-plus-square; }
%#{$fa-css-prefix}-google-plus:before { content: $fa-var-google-plus; }
%#{$fa-css-prefix}-caret-down:before { content: $fa-var-caret-down; }
%#{$fa-css-prefix}-caret-up:before { content: $fa-var-caret-up; }
%#{$fa-css-prefix}-caret-left:before { content: $fa-var-caret-left; }
%#{$fa-css-prefix}-caret-right:before { content: $fa-var-caret-right; }
%#{$fa-css-prefix}-linkedin:before { content: $fa-var-linkedin; }
%#{$fa-css-prefix}-angle-double-left:before { content: $fa-var-angle-double-left; }
%#{$fa-css-prefix}-angle-double-right:before { content: $fa-var-angle-double-right; }
%#{$fa-css-prefix}-angle-double-up:before { content: $fa-var-angle-double-up; }
%#{$fa-css-prefix}-angle-double-down:before { content: $fa-var-angle-double-down; }
%#{$fa-css-prefix}-angle-left:before { content: $fa-var-angle-left; }
%#{$fa-css-prefix}-angle-right:before { content: $fa-var-angle-right; }
%#{$fa-css-prefix}-angle-up:before { content: $fa-var-angle-up; }
%#{$fa-css-prefix}-angle-down:before { content: $fa-var-angle-down; }
%#{$fa-css-prefix}-github-alt:before { content: $fa-var-github-alt; }
%#{$fa-css-prefix}-question:before { content: $fa-var-question; }
%#{$fa-css-prefix}-exclamation:before { content: $fa-var-exclamation; }
%#{$fa-css-prefix}-maxcdn:before { content: $fa-var-maxcdn; }
%#{$fa-css-prefix}-html5:before { content: $fa-var-html5; }
%#{$fa-css-prefix}-css3:before { content: $fa-var-css3; }
%#{$fa-css-prefix}-btc:before { content: $fa-var-btc; }
%#{$fa-css-prefix}-thumbs-up:before { content: $fa-var-thumbs-up; }
%#{$fa-css-prefix}-thumbs-down:before { content: $fa-var-thumbs-down; }
%#{$fa-css-prefix}-youtube-square:before { content: $fa-var-youtube-square; }
%#{$fa-css-prefix}-youtube:before { content: $fa-var-youtube; }
%#{$fa-css-prefix}-xing:before { content: $fa-var-xing; }
%#{$fa-css-prefix}-xing-square:before { content: $fa-var-xing-square; }
%#{$fa-css-prefix}-youtube-play:before { content: $fa-var-youtube-play; }
%#{$fa-css-prefix}-dropbox:before { content: $fa-var-dropbox; }
%#{$fa-css-prefix}-stack-overflow:before { content: $fa-var-stack-overflow; }
%#{$fa-css-prefix}-instagram:before { content: $fa-var-instagram; }
%#{$fa-css-prefix}-flickr:before { content: $fa-var-flickr; }
%#{$fa-css-prefix}-adn:before { content: $fa-var-adn; }
%#{$fa-css-prefix}-bitbucket:before { content: $fa-var-bitbucket; }
%#{$fa-css-prefix}-bitbucket-square:before { content: $fa-var-bitbucket-square; }
%#{$fa-css-prefix}-tumblr:before { content: $fa-var-tumblr; }
%#{$fa-css-prefix}-tumblr-square:before { content: $fa-var-tumblr-square; }
%#{$fa-css-prefix}-long-arrow-down:before { content: $fa-var-long-arrow-down; }
%#{$fa-css-prefix}-long-arrow-up:before { content: $fa-var-long-arrow-up; }
%#{$fa-css-prefix}-apple:before { content: $fa-var-apple; }
%#{$fa-css-prefix}-windows:before { content: $fa-var-windows; }
%#{$fa-css-prefix}-android:before { content: $fa-var-android; }
%#{$fa-css-prefix}-linux:before { content: $fa-var-linux; }
%#{$fa-css-prefix}-dribbble:before { content: $fa-var-dribbble; }
%#{$fa-css-prefix}-skype:before { content: $fa-var-skype; }
%#{$fa-css-prefix}-foursquare:before { content: $fa-var-foursquare; }
%#{$fa-css-prefix}-trello:before { content: $fa-var-trello; }
%#{$fa-css-prefix}-gittip:before,
%#{$fa-css-prefix}-gratipay:before { content: $fa-var-gratipay; }
%#{$fa-css-prefix}-vk:before { content: $fa-var-vk; }
%#{$fa-css-prefix}-weibo:before { content: $fa-var-weibo; }
%#{$fa-css-prefix}-renren:before { content: $fa-var-renren; }
%#{$fa-css-prefix}-pagelines:before { content: $fa-var-pagelines; }
%#{$fa-css-prefix}-stack-exchange:before { content: $fa-var-stack-exchange; }
%#{$fa-css-prefix}-vimeo-square:before { content: $fa-var-vimeo-square; }
%#{$fa-css-prefix}-slack:before { content: $fa-var-slack; }
%#{$fa-css-prefix}-wordpress:before { content: $fa-var-wordpress; }
%#{$fa-css-prefix}-openid:before { content: $fa-var-openid; }
%#{$fa-css-prefix}-yahoo:before { content: $fa-var-yahoo; }
%#{$fa-css-prefix}-google:before { content: $fa-var-google; }
%#{$fa-css-prefix}-reddit:before { content: $fa-var-reddit; }
%#{$fa-css-prefix}-reddit-square:before { content: $fa-var-reddit-square; }
%#{$fa-css-prefix}-stumbleupon-circle:before { content: $fa-var-stumbleupon-circle; }
%#{$fa-css-prefix}-stumbleupon:before { content: $fa-var-stumbleupon; }
%#{$fa-css-prefix}-delicious:before { content: $fa-var-delicious; }
%#{$fa-css-prefix}-digg:before { content: $fa-var-digg; }
%#{$fa-css-prefix}-pied-piper-pp:before { content: $fa-var-pied-piper-pp; }
%#{$fa-css-prefix}-pied-piper-alt:before { content: $fa-var-pied-piper-alt; }
%#{$fa-css-prefix}-drupal:before { content: $fa-var-drupal; }
%#{$fa-css-prefix}-joomla:before { content: $fa-var-joomla; }
%#{$fa-css-prefix}-behance:before { content: $fa-var-behance; }
%#{$fa-css-prefix}-behance-square:before { content: $fa-var-behance-square; }
%#{$fa-css-prefix}-steam:before { content: $fa-var-steam; }
%#{$fa-css-prefix}-steam-square:before { content: $fa-var-steam-square; }
%#{$fa-css-prefix}-spotify:before { content: $fa-var-spotify; }
%#{$fa-css-prefix}-deviantart:before { content: $fa-var-deviantart; }
%#{$fa-css-prefix}-soundcloud:before { content: $fa-var-soundcloud; }
%#{$fa-css-prefix}-vine:before { content: $fa-var-vine; }
%#{$fa-css-prefix}-codepen:before { content: $fa-var-codepen; }
%#{$fa-css-prefix}-jsfiddle:before { content: $fa-var-jsfiddle; }
%#{$fa-css-prefix}-resistance:before,
%#{$fa-css-prefix}-rebel:before { content: $fa-var-rebel; }
%#{$fa-css-prefix}-ge:before,
%#{$fa-css-prefix}-empire:before { content: $fa-var-empire; }
%#{$fa-css-prefix}-git-square:before { content: $fa-var-git-square; }
%#{$fa-css-prefix}-git:before { content: $fa-var-git; }
%#{$fa-css-prefix}-y-combinator-square:before,
%#{$fa-css-prefix}-yc-square:before,
%#{$fa-css-prefix}-hacker-news:before { content: $fa-var-hacker-news; }
%#{$fa-css-prefix}-tencent-weibo:before { content: $fa-var-tencent-weibo; }
%#{$fa-css-prefix}-qq:before { content: $fa-var-qq; }
%#{$fa-css-prefix}-wechat:before,
%#{$fa-css-prefix}-weixin:before { content: $fa-var-weixin; }
%#{$fa-css-prefix}-share-alt:before { content: $fa-var-share-alt; }
%#{$fa-css-prefix}-share-alt-square:before { content: $fa-var-share-alt-square; }
%#{$fa-css-prefix}-slideshare:before { content: $fa-var-slideshare; }
%#{$fa-css-prefix}-twitch:before { content: $fa-var-twitch; }
%#{$fa-css-prefix}-yelp:before { content: $fa-var-yelp; }
%#{$fa-css-prefix}-paypal:before { content: $fa-var-paypal; }
%#{$fa-css-prefix}-google-wallet:before { content: $fa-var-google-wallet; }
%#{$fa-css-prefix}-cc-visa:before { content: $fa-var-cc-visa; }
%#{$fa-css-prefix}-cc-mastercard:before { content: $fa-var-cc-mastercard; }
%#{$fa-css-prefix}-cc-discover:before { content: $fa-var-cc-discover; }
%#{$fa-css-prefix}-cc-amex:before { content: $fa-var-cc-amex; }
%#{$fa-css-prefix}-cc-paypal:before { content: $fa-var-cc-paypal; }
%#{$fa-css-prefix}-cc-stripe:before { content: $fa-var-cc-stripe; }
%#{$fa-css-prefix}-lastfm:before { content: $fa-var-lastfm; }
%#{$fa-css-prefix}-lastfm-square:before { content: $fa-var-lastfm-square; }
%#{$fa-css-prefix}-ioxhost:before { content: $fa-var-ioxhost; }
%#{$fa-css-prefix}-angellist:before { content: $fa-var-angellist; }
%#{$fa-css-prefix}-meanpath:before { content: $fa-var-meanpath; }
%#{$fa-css-prefix}-buysellads:before { content: $fa-var-buysellads; }
%#{$fa-css-prefix}-connectdevelop:before { content: $fa-var-connectdevelop; }
%#{$fa-css-prefix}-dashcube:before { content: $fa-var-dashcube; }
%#{$fa-css-prefix}-forumbee:before { content: $fa-var-forumbee; }
%#{$fa-css-prefix}-leanpub:before { content: $fa-var-leanpub; }
%#{$fa-css-prefix}-sellsy:before { content: $fa-var-sellsy; }
%#{$fa-css-prefix}-shirtsinbulk:before { content: $fa-var-shirtsinbulk; }
%#{$fa-css-prefix}-simplybuilt:before { content: $fa-var-simplybuilt; }
%#{$fa-css-prefix}-skyatlas:before { content: $fa-var-skyatlas; }
%#{$fa-css-prefix}-facebook-official:before { content: $fa-var-facebook-official; }
%#{$fa-css-prefix}-pinterest-p:before { content: $fa-var-pinterest-p; }
%#{$fa-css-prefix}-whatsapp:before { content: $fa-var-whatsapp; }
%#{$fa-css-prefix}-viacoin:before { content: $fa-var-viacoin; }
%#{$fa-css-prefix}-medium:before { content: $fa-var-medium; }
%#{$fa-css-prefix}-yc:before,
%#{$fa-css-prefix}-y-combinator:before { content: $fa-var-y-combinator; }
%#{$fa-css-prefix}-optin-monster:before { content: $fa-var-optin-monster; }
%#{$fa-css-prefix}-opencart:before { content: $fa-var-opencart; }
%#{$fa-css-prefix}-expeditedssl:before { content: $fa-var-expeditedssl; }
%#{$fa-css-prefix}-cc-jcb:before { content: $fa-var-cc-jcb; }
%#{$fa-css-prefix}-cc-diners-club:before { content: $fa-var-cc-diners-club; }
%#{$fa-css-prefix}-gg:before { content: $fa-var-gg; }
%#{$fa-css-prefix}-gg-circle:before { content: $fa-var-gg-circle; }
%#{$fa-css-prefix}-tripadvisor:before { content: $fa-var-tripadvisor; }
%#{$fa-css-prefix}-odnoklassniki:before { content: $fa-var-odnoklassniki; }
%#{$fa-css-prefix}-odnoklassniki-square:before { content: $fa-var-odnoklassniki-square; }
%#{$fa-css-prefix}-get-pocket:before { content: $fa-var-get-pocket; }
%#{$fa-css-prefix}-wikipedia-w:before { content: $fa-var-wikipedia-w; }
%#{$fa-css-prefix}-safari:before { content: $fa-var-safari; }
%#{$fa-css-prefix}-chrome:before { content: $fa-var-chrome; }
%#{$fa-css-prefix}-firefox:before { content: $fa-var-firefox; }
%#{$fa-css-prefix}-opera:before { content: $fa-var-opera; }
%#{$fa-css-prefix}-internet-explorer:before { content: $fa-var-internet-explorer; }
%#{$fa-css-prefix}-contao:before { content: $fa-var-contao; }
%#{$fa-css-prefix}-500px:before { content: $fa-var-500px; }
%#{$fa-css-prefix}-amazon:before { content: $fa-var-amazon; }
%#{$fa-css-prefix}-houzz:before { content: $fa-var-houzz; }
%#{$fa-css-prefix}-vimeo:before { content: $fa-var-vimeo; }
%#{$fa-css-prefix}-black-tie:before { content: $fa-var-black-tie; }
%#{$fa-css-prefix}-fonticons:before { content: $fa-var-fonticons; }
%#{$fa-css-prefix}-reddit-alien:before { content: $fa-var-reddit-alien; }
%#{$fa-css-prefix}-edge:before { content: $fa-var-edge; }
%#{$fa-css-prefix}-codiepie:before { content: $fa-var-codiepie; }
%#{$fa-css-prefix}-modx:before { content: $fa-var-modx; }
%#{$fa-css-prefix}-fort-awesome:before { content: $fa-var-fort-awesome; }
%#{$fa-css-prefix}-usb:before { content: $fa-var-usb; }
%#{$fa-css-prefix}-product-hunt:before { content: $fa-var-product-hunt; }
%#{$fa-css-prefix}-mixcloud:before { content: $fa-var-mixcloud; }
%#{$fa-css-prefix}-scribd:before { content: $fa-var-scribd; }
%#{$fa-css-prefix}-shopping-bag:before { content: $fa-var-shopping-bag; }
%#{$fa-css-prefix}-shopping-basket:before { content: $fa-var-shopping-basket; }
%#{$fa-css-prefix}-bluetooth:before { content: $fa-var-bluetooth; }
%#{$fa-css-prefix}-bluetooth-b:before { content: $fa-var-bluetooth-b; }
%#{$fa-css-prefix}-gitlab:before { content: $fa-var-gitlab; }
%#{$fa-css-prefix}-wpbeginner:before { content: $fa-var-wpbeginner; }
%#{$fa-css-prefix}-wpforms:before { content: $fa-var-wpforms; }
%#{$fa-css-prefix}-envira:before { content: $fa-var-envira; }
%#{$fa-css-prefix}-question-circle-o:before { content: $fa-var-question-circle-o; }
%#{$fa-css-prefix}-glide:before { content: $fa-var-glide; }
%#{$fa-css-prefix}-glide-g:before { content: $fa-var-glide-g; }
%#{$fa-css-prefix}-viadeo:before { content: $fa-var-viadeo; }
%#{$fa-css-prefix}-viadeo-square:before { content: $fa-var-viadeo-square; }
%#{$fa-css-prefix}-snapchat:before { content: $fa-var-snapchat; }
%#{$fa-css-prefix}-snapchat-ghost:before { content: $fa-var-snapchat-ghost; }
%#{$fa-css-prefix}-snapchat-square:before { content: $fa-var-snapchat-square; }
%#{$fa-css-prefix}-pied-piper:before { content: $fa-var-pied-piper; }
%#{$fa-css-prefix}-first-order:before { content: $fa-var-first-order; }
%#{$fa-css-prefix}-yoast:before { content: $fa-var-yoast; }
%#{$fa-css-prefix}-themeisle:before { content: $fa-var-themeisle; }
%#{$fa-css-prefix}-google-plus-circle:before,
%#{$fa-css-prefix}-google-plus-official:before { content: $fa-var-google-plus-official; }
%#{$fa-css-prefix}-fa:before,
%#{$fa-css-prefix}-font-awesome:before { content: $fa-var-font-awesome; }
%#{$fa-css-prefix}-linode:before { content: $fa-var-linode; }
%#{$fa-css-prefix}-quora:before { content: $fa-var-quora; }
%#{$fa-css-prefix}-free-code-camp:before { content: $fa-var-free-code-camp; }
%#{$fa-css-prefix}-telegram:before { content: $fa-var-telegram; }
%#{$fa-css-prefix}-bandcamp:before { content: $fa-var-bandcamp; }
%#{$fa-css-prefix}-grav:before { content: $fa-var-grav; }
%#{$fa-css-prefix}-etsy:before { content: $fa-var-etsy; }
%#{$fa-css-prefix}-imdb:before { content: $fa-var-imdb; }
%#{$fa-css-prefix}-ravelry:before { content: $fa-var-ravelry; }
%#{$fa-css-prefix}-eercast:before { content: $fa-var-eercast; }
%#{$fa-css-prefix}-superpowers:before { content: $fa-var-superpowers; }
%#{$fa-css-prefix}-wpexplorer:before { content: $fa-var-wpexplorer; }
%#{$fa-css-prefix}-meetup:before { content: $fa-var-meetup; }
