// Edited for Posh Theme

.header-profile-welcome-link,
.header-profile-login-link,
.header-profile-register-link,
.header-profile-loading-link {
	@extend %header-link;
	color: $sc-color-copy-light;
	padding: 0 $sc-padding-lv2;
}

.header-profile-message {
	.header-sidebar-links & {
		display: none;
	}

	@media (min-width: $screen-md-min){
		display: inline-block;
		font-style: normal;
		color: $sc-header-message-color;
		padding-right: $sc-padding-lv2;
	}
}

.header-profile-login-link {
	padding-right: 0;
}

.header-profile-register-link {
	padding-left: 0;
	display: inline-block;
}

.header-profile-welcome-link-name{
	//display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	/*@media (min-width: $screen-md-min){
		display: inline;
	}*/
}

.header-profile-welcome-user-icon{
	display: none;
	/*@extend .fa;
	@extend %fa-user;

	float:left;
	font-size: $sc-font-size-l;
	padding: $sc-padding-base 0;
	margin-right: $sc-margin-lv3;

	@media (min-width: $screen-md-min){
		display: none;
	}*/
}

.header-profile-welcome-carret-icon{
	display:none;

	/*@extend .fa;
	@extend %fa-angle-down;
	margin-left: $sc-margin-base;

	@media (min-width: $screen-md-min){
		display: inline;
	}*/
}

//////////////////////////////////////////////////////////
//login register

.header-profile-menu-login{
	color: $sc-mobile-header-sidebar-link-color;
	font-family: $sc-theme-secondary-font;
	font-style: italic;
	font-size: $sc-header-link-font-size;
}

.header-profile-menu-login-container{
	//margin-right: $sc-margin-base;
}

.header-profile-menu-login li{
	display:inline-block;
}

.header-profile-login-icon{
	@extend .fa;
	@extend %fa-user;
	font-size: $sc-font-size-m;
}

//////////////////////////////////////////////////////////
//my account menu
.header-profile-menu-myaccount-container {
	@extend .header-menu-level-container;
	background-color: $sc-neutral-shade-0;
	z-index: 1002;
    right: 0;
    @include box-shadow(0 6px 12px transparentize($sc-theme-color-overlay, 1-0.175));
    
    left: auto;
    right: 0;
    min-width: 0;
    padding: $sc-padding-lv4;
    width: 700px;

    > li {
        > ul {
            > li {
                position: static;
                > ul {
                    border: 0;
                    background: transparent;
                    opacity: 1;
                    position: static;
                    left: auto;
                    top: auto;
                    transition: none;
                    @include box-shadow(none);

                    > li {
                        a {
                            min-width: auto;

                            &:hover {
                                background-color: transparent;
                            }
                        }
                    }
                } 

                &:hover, &:active, &:focus {
                    > a {
                        background-color: transparent;
                    }
                    > ul {
                        pointer-events: auto;
                        opacity: 1;
                        position: static;
                        left: auto;
                        transition: none;
                    }
                }
            }
        }
    }
}

.open .header-profile-menu-myaccount-container {
	padding: $sc-padding-lv3 $sc-padding-lv3 $sc-padding-lv7;
}

.header-profile-loading-icon{}
.header-profile-loading-indicator{}
