/*
group({
	"id": "palette-color",
	"label": "Palette",
	"description": "",
	"children": [
		"theme-palette",
		"neutral-shades",
		"text-colors",
		"container-colors"
	]
})
*/

/*
group({
	"id": "theme-palette",
	"label": "Theme palette",
	"description": "",
	"children": [
		"$sc-color-theme",
		"$sc-color-theme-900",
		"$sc-color-theme-700",
		"$sc-color-theme-500",
		"$sc-color-theme-300",
		"$sc-color-theme-100",
		"$sc-color-primary",
		"$sc-color-secondary"
	]
})
*/

/*
group({
	"id": "neutral-shades",
	"label": "Neutral palette",
	"description": "",
	"children": [
		"$sc-neutral-shade",
		"$sc-neutral-shade-700",
		"$sc-neutral-shade-500",
		"$sc-neutral-shade-300",
		"$sc-neutral-shade-0"
	]
})
*/

/*
group({
	"id": "text-colors",
	"label": "Text",
	"description": "",
	"children": [
		"$sc-color-copy",
		"$sc-color-copy-dark",
		"$sc-color-copy-light",
		"$sc-color-link",
		"$sc-color-link-hover",
		"$sc-color-link-active"
	]
})
*/

/*
group({
	"id": "container-colors",
	"label": "Containers",
	"description": "",
	"children": [
		"$sc-color-body-background",
		"$sc-color-theme-background",
        "$sc-color-theme-content-background",
		"$sc-color-theme-border",
		"$sc-color-theme-border-light"
	]
})
*/

/*
group({
	"id": "typography",
	"label": "Typography",
	"description": "",
	"children": [
		"typography-body",
		"typography-h1",
		"typography-h2",
		"typography-h3",
		"typography-h4",
		"typography-h5",
		"typography-h6",
        "typography-featured",
		"typography-blockquote",
        "typography-paragraph",
        "typography-secondaryfont"
	]
})
*/

/*
group({
	"id": "typography-body",
	"label": "Normal",
	"description": "",
	"children": [
		"$sc-body-font-family",
		"$sc-body-font-size",
		"$sc-body-font-size-desktop",
		"$sc-body-line-height"
	]
})
*/

/*
group({
	"id": "typography-h1",
	"label": "Heading 1",
	"description": "",
	"children": [
		"$sc-color-h1",
		"$sc-h1-font-family",
		"$sc-h1-font-size",
		"$sc-h1-desktop-font-size",
		"$sc-h1-line-height",
		"$sc-h1-text-transform"
	]
})
*/

/*
group({
	"id": "typography-h2",
	"label": "Heading 2",
	"description": "",
	"children": [
		"$sc-color-h2",
		"$sc-h2-font-family",
		"$sc-h2-font-size",
		"$sc-h2-desktop-font-size",
		"$sc-h2-line-height",
		"$sc-h2-text-transform"
	]
})
*/

/*
group({
	"id": "typography-h3",
	"label": "Heading 3",
	"description": "",
	"children": [
		"$sc-color-h3",
		"$sc-h3-font-family",
		"$sc-h3-font-size",
		"$sc-h3-desktop-font-size",
		"$sc-h3-letter-spacing",
		"$sc-h3-text-transform"
	]
})
*/

/*
group({
	"id": "typography-h4",
	"label": "Heading 4",
	"description": "",
	"children": [
		"$sc-color-h4",
		"$sc-h4-font-family",
		"$sc-h4-font-size",
		"$sc-h4-desktop-font-size",
		"$sc-h4-line-height",
		"$sc-h4-text-transform"
	]
})
*/

/*
group({
	"id": "typography-h5",
	"label": "Heading 5",
	"description": "",
	"children": [
		"$sc-color-h5",
		"$sc-h5-font-family",
		"$sc-h5-font-size",
		"$sc-h5-desktop-font-size",
		"$sc-h5-line-height",
		"$sc-h5-text-transform"
	]
})
*/

/*
group({
	"id": "typography-h6",
	"label": "Heading 6",
	"description": "",
	"children": [
		"$sc-color-h6",
		"$sc-h6-font-family",
		"$sc-h6-font-size",
		"$sc-h6-desktop-font-size",
		"$sc-h6-line-height",
		"$sc-h6-text-transform"
	]
})
*/

/*
group({
	"id": "typography-blockquote",
	"label": "Blockquote",
	"description": "",
	"children": [
		"$sc-blockquote-font-family",
		"$sc-blockquote-font-size",
		"$sc-blockquote-line-height",
		"$sc-blockquote-font-style",
		"$sc-blockquote-font-weight",
		"$sc-blockquote-text-transform"
	]
})
*/

/*
group({
	"id": "typography-featured",
	"label": "Featured Title",
	"description": "",
	"children": [
		"$sc-featured-title-color"
	]
})
*/

/*
group({
	"id": "typography-paragraph",
	"label": "Paragraph",
	"description": "",
	"children": [
		"$sc-color-paragraph"
	]
})
*/

/*
group({
	"id": "typography-secondaryfont",
	"label": "Secondary Font",
	"description": "",
	"children": [
		"$sc-theme-secondary-font"
	]
})
*/

/*
group({
	"id": "buttons",
	"label": "Buttons",
	"description": "",
	"children": [
		"primary-button",
		"secondary-button",
		"tertiary-button",
		"small-button",
		"medium-button",
		"large-button"
	]
})
*/

/*
group({
	"id": "primary-button",
	"label": "Primary",
	"description": "",
	"children": [
		"$sc-button-primary-background-color",
		"$sc-button-primary-text-color",
		"$sc-button-primary-border-color",
		"$sc-button-primary-border-radius",
		"$sc-button-primary-hover-background-color",
		"$sc-button-primary-hover-text-color",
		"$sc-button-primary-hover-border-color",
		"$sc-button-primary-active-background-color",
		"$sc-button-primary-active-text-color",
		"$sc-button-primary-active-border-color",
		"$sc-button-primary-text-transform"
	]
})
*/

/*
group({
	"id": "secondary-button",
	"label": "Secondary",
	"description": "",
	"children": [
		"$sc-button-secondary-background-color",
		"$sc-button-secondary-text-color",
		"$sc-button-secondary-border-color",
		"$sc-button-secondary-border-radius",
		"$sc-button-secondary-hover-background-color",
		"$sc-button-secondary-hover-text-color",
		"$sc-button-secondary-hover-border-color",
		"$sc-button-secondary-active-background-color",
		"$sc-button-secondary-active-text-color",
		"$sc-button-secondary-active-border-color",
		"$sc-button-secondary-text-transform"
	]
})
*/

/*
group({
	"id": "tertiary-button",
	"label": "Tertiary",
	"description": "",
	"children": [
		"$sc-button-tertiary-background-color",
		"$sc-button-tertiary-text-color",
		"$sc-button-tertiary-border-color",
		"$sc-button-tertiary-border-radius",
		"$sc-button-tertiary-hover-background-color",
		"$sc-button-tertiary-hover-text-color",
		"$sc-button-tertiary-hover-border-color",
		"$sc-button-tertiary-active-background-color",
		"$sc-button-tertiary-active-text-color",
		"$sc-button-tertiary-active-border-color",
		"$sc-button-tertiary-text-transform"
	]
})
*/

/*
group({
	"id": "large-button",
	"label": "Large",
	"description": "",
	"children": [
		"$sc-button-large-padding-v",
		"$sc-button-large-padding-h",
		"$sc-button-large-font-size",
		"$sc-button-large-line-height",
		"$sc-button-large-letter-spacing",
		"$sc-button-large-mobile-width",
		"$sc-button-large-desktop-width"
	]
})
*/

/*
group({
	"id": "medium-button",
	"label": "Medium",
	"description": "",
	"children": [
		"$sc-button-medium-padding-v",
		"$sc-button-medium-padding-h",
		"$sc-button-medium-font-size",
		"$sc-button-medium-line-height",
		"$sc-button-medium-letter-spacing",
		"$sc-button-medium-mobile-width",
		"$sc-button-medium-desktop-width"
	]
})
*/

/*
group({
	"id": "small-button",
	"label": "Small",
	"description": "",
	"children": [
		"$sc-button-small-padding-v",
		"$sc-button-small-padding-h",
		"$sc-button-small-font-size",
		"$sc-button-small-line-height",
		"$sc-button-small-letter-spacing",
		"$sc-button-small-mobile-width",
		"$sc-button-small-desktop-width"
	]
})
*/

/*
group({
	"id": "element-layout",
	"label": "Element layout",
	"description": "",
	"children": [
        "header",
        "main-navigation",
        "home",
        "footer",
        "spacing"
	]
})
*/

/*
group({
	"id": "header",
	"label": "Header",
	"description": "",
	"children": [
        "$sc-header-top-height",
        "$sc-header-top-background-color",
        "$sc-header-top-text-color",
        "$sc-header-height",
        "$sc-mobile-header-height",
        "$sc-header-background-color",
		"$sc-header-message-color",
        "$sc-mobile-header-logo-width",
        "$sc-tablet-header-logo-width",
        "$sc-desktop-header-logo-width",
        "$sc-mobile-header-logo-top-margin",
        "$sc-desktop-header-logo-top-margin",
        "$sc-mobile-header-logo-left-padding",
        "$sc-header-link-font-family",
        "$sc-header-link-font-style",
        "$sc-header-link-desktop-font-size",
        "$sc-header-link-font-size",
        "$sc-header-link-separator-color",
        "$sc-header-link-text-color",
        "$sc-header-link-hover-text-color",
        "$sc-header-link-active-text-color",
        "$sc-header-link-text-transform",
        "$sc-mobile-header-sidebar-link-color",
        "$sc-header-icon-color",
        "$sc-header-icon-hover-color",
        "$sc-header-social-icon-color",
        "$sc-header-social-icon-hover-color"
	]
})
*/

/*
group({
	"id": "home",
	"label": "Home",
	"description": "",
	"children": [
		"$sc-home-cta-background-color-value",
        "$sc-home-cta-title-size-mobile",
        "$sc-home-cta-title-size",
        "$sc-home-cta-title-color",
        "$sc-home-cta-text-color",
        "$sc-home-promo-background-color",
        "$sc-home-carousel-icons-display",
        "$sc-home-carousel-icons-color-desktop",
        "$sc-home-carousel-icons-color-mobile",
        "$sc-home-infoblock-cell-content-overlay-opacity"
	]
})
*/

/*
group({
	"id": "footer",
	"label": "Footer",
	"description": "",
	"children": [
		"$sc-footer-background-color",
		"$sc-footer-text-color",
		"$sc-footer-link-color",
		"$sc-footer-link-color-hover",
        "$sc-footer-icon-color",
		"$sc-footer-icon-hover-color",
        "$sc-footer-headings-color",
        "$sc-footer-headings-size",
        "$sc-footer-fields-background-color",
        "$sc-footer-fields-border-color",
        "$sc-footer-fields-text-color",
		"$sc-footer-copyright-text-color",
        "$sc-footer-copyright-background-color",
        "$sc-footer-desktop-copyright-background-color",
        "$sc-footer-copyright-border-color"
	]
})
*/

/*
group({
	"id": "main-navigation",
	"label": "Main navigation",
	"description": "",
	"children": [
        "$sc-main-navigation-height",
        "$sc-theme-color-overlay",
		"$sc-main-navigation-link-color",
		"$sc-main-navigation-link-hover-color",
		"$sc-main-navigation-link-active-color",
        "$sc-main-navigation-link-font-size",
        "$sc-main-navigation-link-text-transform",
        "$sc-main-navigation-link-letter-spacing",
        "$sc-main-navigation-link-margin",
        "$sc-main-navigation-link-margin-right",
        "$sc-main-navigation-link-margin-left",
        "$sc-main-navigation-link-hover-color",
        "$sc-main-navigation-link-active-color",
        "$sc-main-navigation-submenu-v-padding",
        "$sc-main-navigation-submenu-h-padding",
        "$sc-main-navigation-submenu-heading-width",
        "$sc-main-navigation-submenu-heading-color",
        "$sc-main-navigation-submenu-heading-hover-color",
        "$sc-main-navigation-submenu-heading-bgr-hover-color",
        "$sc-main-navigation-submenu-heading-text-transform",
        "$sc-sidebar-size",
        "$sc-mobile-navigation-background-color",
        "$sc-mobile-navigation-link-background-color",
        "$sc-mobile-navigation-link-color",
        "$sc-mobile-navigation-link-hover-color"
	]
})
*/

/*
group({
	"id": "spacing",
	"label": "Spacing",
	"description": "",
	"children": [
		"$sc-content-padding",
        "$sc-site-max-width"
	]
})
*/
