// Header variables
$sc-header-top-height: 22px; /* editable({"type": "string", "label": "Top section height"}) */
$sc-header-top-background-color: $sc-color-primary; /* editable({"type": "color", "label": "Top section background color"}) */
$sc-header-top-text-color: white; /* editable({"type": "color", "label": "Top section text color"}) */
$sc-header-height: 35px; /* editable({"type": "string", "label": "Height containing right hand links"}) */
$sc-header-padding: $sc-padding-lv4;
$sc-mobile-header-height: 60px; /* editable({"type": "string", "label": "Mobile header height"}) */
$sc-header-background-color: white; /* editable({"type": "color", "label": "Background for Header, Navigation and Submenu"}) */
$sc-header-shadow-color: $sc-color-secondary;
$sc-header-margin-bottom-desktop: $sc-margin-lv3;
$sc-header-message-color: $sc-color-copy-light; /* editable({"type": "color", "label": "Color of text before top links"}) */

// Header logo variables
$sc-mobile-header-logo-width: 150px; /* editable({"type": "string", "label": "Logo width - mobile"}) */
$sc-tablet-header-logo-width: 200px; /* editable({"type": "string", "label": "Logo width - tablet"}) */
$sc-desktop-header-logo-width: 85px; /* editable({"type": "string", "label": "Logo width - desktop"}) */
$sc-mobile-header-logo-top-margin: 18px; /* editable({"type": "string", "label": "Logo top margin - mobile"}) */
$sc-desktop-header-logo-top-margin: 2px; /* editable({"type": "string", "label": "Logo top margin - desktop"}) */
$sc-mobile-header-logo-left-padding: $sc-padding-lv3; /* editable({"type": "string", "label": "Logo left padding - mobile"}) */

// Header links variables
$sc-header-link-font-family: $sc-theme-secondary-font; /* editable({"type": "string", "label": "Link font family"}) */
$sc-header-link-font-style: italic; /* editable({
	"type": "string",
	"label": "Link font style",
	"options": [
		{"value": "italic", "text": "italic"},
		{"value": "normal", "text": "normal"},
		{"value": "oblique", "text": "oblique"}
	]
}) */
$sc-header-link-desktop-font-size: 0.933rem; /* editable({"type": "string", "label": "Link font size - desktop"}) */
$sc-header-link-font-size: 0.8rem; /* editable({"type": "string", "label": "Link font size - mobile/tablet"}) */
$sc-header-link-separator-color: #EAEAEA; /* editable({"type": "color", "label": "Separator color"}) */
$sc-header-link-text-color: $sc-color-link; /* editable({"type": "color", "label": "Link color"}) */
$sc-header-link-hover-text-color: $sc-color-link-hover; /* editable({"type": "color", "label": "Link hover color"}) */
$sc-header-link-active-text-color: $sc-color-link-active; /* editable({"type": "color", "label": "Link active color"}) */
$sc-header-link-text-transform: none; /* editable({
	"type": "string",
	"label": "Link text transform",
	"options": [
		{"value": "none", "text": "none"},
		{"value": "uppercase", "text": "uppercase"},
		{"value": "lowercase", "text": "lowercase"},
		{"value": "capitalize", "text": "capitalize"}
	]
}) */
$sc-mobile-header-sidebar-link-color: $sc-color-link; /* editable({"type": "color", "label": "Mobile side link color"}) */
$sc-header-icon-color: $sc-color-link; /* editable({"type": "color", "label": "Icon color"}) */
$sc-header-icon-hover-color: $sc-color-link-hover; /* editable({"type": "color", "label": "Icon hover/active color"}) */

// Header social icons
$sc-header-social-icon-color: $sc-neutral-shade-300; /* editable({"type": "color", "label": "Social icon color"}) */
$sc-header-social-icon-hover-color: $sc-neutral-shade; /* editable({"type": "color", "label": "Social icon hover color"}) */

$sc-mobile-header-border-color: transparent;
$sc-mobile-header-border-width: 0;
