/* MISC SOLUTION MODULES STYLES */
/* Hashtag Gallery Module Styles */
#hashtag-gallery {
    @extend .container-fluid;
}

/* Item Badges */
.facets-item-cell-grid-details .itembadges-badge-container {
    display: flex;
    justify-content: center;
    width: 100%;

    & > div {
        width: 20%;
    }
}

/* LookBook Module Styles */
.look-title,
.look-divider-desktop {
    display: none;
}
.look-subtitle {
    margin-top: 30px;
}
/* Look Books Items Styles */
.itemdetails-lookitems-header {
    text-align: center;
}

/* EFFICIENCIES STORE LOCATOR */
.storelocator-container,
.stores-store-locator-details-container {
    width: 100%;
    margin: $sc-margin-lv2 0;
    padding: 0;
}

.store-locator-search-buttons-container-geolocalization {
    .store-locator-search-button-current {
        @extend .button-tertiary;
    }
}

/* Back In Stock Module Styles */
.back-in-stock-notification-placeholder {
    .back-in-stock-notification-show-form-button {
        @extend .button-secondary;
        font-weight: $sc-font-weight-light;
        width: 100%;
        @media (min-width: $screen-lg-min) {
            width: calc(70% - 5px);
        }
    }
    .back-in-stock-notification-form-wrapper {
        @media (min-width: $screen-lg-min) {
            width: calc(70% - 5px);
        }
    }
}

/* Blog */
.blog-details-divider-desktop {
    display: block;
    margin: 25px 0;
    clear: both;
    height: 1px;
}

/* Size Chart */
.item-details-size-chart-link {
    display: inline-block;
    margin: 0 0 $sc-margin-lv3;
}

/* Compare Products */
.compare-items-title {
    color: $sc-color-copy-light !important;
    top: 0 !important;
}
.compare-items-container-hide-button {
    color: $sc-color-copy-light !important;
    margin-top: 7px;
}
.compare-items-hide-container {
    background-color: $sc-neutral-shade-700 !important;
}
.compare-items-container-hide-button {
  @extend %fa-angle-down;
}
.addedfromcomparison-remove-button-icon {
    color: $sc-neutral-shade-0 !important;
}

/* Matrix Multi Add */
.matrix-multi-add {
    margin-bottom: $sc-margin-lv8;
}

.matrix-multi-add-table-wrapper table {
    width: 100%;
}

.matrix-multi-add-quantity {
    padding: 0;
}

.multi-add-to-cart-quantity-value {
    background-color: #dddddd !important;
    min-width: auto !important;
}
