/* Edited for Posh Theme */

.transaction-line-views-selected-option {
    display: flex;
}

.transaction-line-views-selected-option-label {
    flex: 1;
    @extend .sc-label;
    color: $sc-color-theme-100;
    font-weight: $sc-font-weight-light;
    font-size: $sc-font-size-l;
}
.transaction-line-views-selected-option-value {
    flex: 2;
    @extend .sc-value;
    color: $sc-color-secondary;
    font-weight: $sc-font-weight-light;
    font-size: $sc-font-size-l;
}
